Repository FilOzone/filecoin-pay-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

fix query
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

fix component name
  apps/explorer/src/components/Home/TopAccounts/components/TopEarnersTable.tsx
Due: biome check --write

chore(deps): exclude unstable dependencies
  .github/dependabot.yml
Due: none

chore(deps): bump vite from 7.1.9 to 8.0.10 and related dependencies
  apps/metrics/package.json
  apps/metrics/vite.config.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

refactor: fetch only usdfc operator token
  apps/explorer/src/components/Operators/data/column-definitions.tsx
  apps/explorer/src/hooks/useInfiniteOperators.ts
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

chore: address pr comments
  apps/explorer/src/components/Accounts/data/column-definitions.tsx
  apps/explorer/src/components/Accounts/index.tsx
Due: biome check --write

feat(Operators): Add column "USDFC settled" (#185)
  apps/explorer/src/components/Operators/data/column-definitions.tsx
  apps/explorer/src/hooks/useInfiniteOperators.ts
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

Update apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/components/Home/Stats.tsx
Due: biome check --write

feat(Home.Stats): Add metric "FIL burned". Closes #138 (#184)
  apps/explorer/src/components/Home/Stats.tsx
Due: biome check --write

feat(Accounts): Add columns "USDFC {earned,spent}". Closes #142 (#186)
  apps/explorer/src/components/Accounts/data/column-definitions.tsx
  apps/explorer/src/components/Accounts/index.tsx
  apps/explorer/src/hooks/useInfiniteAccounts.ts
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

fix(Rail.Stats): Rename Arbiter to Validator (#170)
  apps/explorer/src/components/Rail/components/Stats.tsx
  apps/explorer/src/services/grapql/queries.ts
  packages/subgraph/schemas/schema.v1.graphql
  packages/subgraph/src/utils/helpers.ts
  packages/subgraph/tests/payments/fixtures.ts
  packages/types/src/generated/graphql.ts
Due: biome check --write

add payees and payers
  apps/explorer/src/components/Home/Stats.tsx
Due: biome check --write

Update apps/explorer/src/components/Home/TopAccounts/index.tsx
  apps/explorer/src/components/Home/TopAccounts/index.tsx
Due: biome check --write

Revert "add payees and payers"
  apps/explorer/src/components/Home/Stats.tsx
Due: biome check --write

Add top earners & top spenders. Closes #140 (#151)
  apps/explorer/src/components/Home/TopAccounts/components/TopEarnersTable.tsx
  apps/explorer/src/components/Home/TopAccounts/components/TopSpendersTable.tsx
  apps/explorer/src/components/Home/TopAccounts/components/index.ts
  apps/explorer/src/components/Home/TopAccounts/data/column-definitions-top-earners.tsx
  apps/explorer/src/components/Home/TopAccounts/data/column-definitions-top-spenders.tsx
  apps/explorer/src/components/Home/TopAccounts/data/column-definitions.tsx
  apps/explorer/src/components/Home/TopAccounts/index.tsx
  apps/explorer/src/hooks/useAccountsLeaderboard.ts
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

feat(Home.Stats): Add metric "# accounts". Closes #65 (#182)
  apps/explorer/src/components/Home/Stats.tsx
Due: biome check --write

Fix remove stats "payers" and "payees" (#194)
  apps/explorer/src/components/Home/Stats.tsx
Due: biome check --write

chore: address pr comment
  .github/dependabot.yml
Due: none

chore(deps): exclude unstable dependencies (#193)
  .github/dependabot.yml
Due: none

chore(deps): migrate to tailwindcss v4 and update related dependencies
  apps/metrics/package.json
  apps/metrics/postcss.config.js
  apps/metrics/src/App.tsx
  apps/metrics/src/components/HeroStats.tsx
  apps/metrics/src/components/MetricCard.tsx
  apps/metrics/src/components/NetworkHealth.tsx
  apps/metrics/src/components/OperatorLeaderboard.tsx
  apps/metrics/src/components/TokenMetrics.tsx
  apps/metrics/src/components/TopOperatorCharts.tsx
  apps/metrics/src/components/TrendChart.tsx
  apps/metrics/src/index.css
  apps/metrics/vite.config.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

ops: add release issue template and deployment docs
  .github/ISSUE_TEMPLATE/release.md
  README.md
  packages/subgraph/README.md
Due: none

ops: improve release template clarity and context
  .github/ISSUE_TEMPLATE/release.md
Due: none

ops: address PR review feedback on release template
  .github/ISSUE_TEMPLATE/release.md
  packages/subgraph/README.md
Due: none

docs: expand Architecture section in README
  README.md
Due: none

ops: add release issue template and deployment docs (#197)
  .github/ISSUE_TEMPLATE/release.md
  README.md
  packages/subgraph/README.md
Due: none

document architecture (#156)
  README.md
Due: none

add link to accounts page
  apps/explorer/src/components/Accounts/data/column-definitions.tsx
Due: biome check --write

enable remaining accounts links
  apps/explorer/src/components/Account/AccountRails.tsx
  apps/explorer/src/components/Home/TopAccounts/data/column-definitions-top-earners.tsx
  apps/explorer/src/components/Home/TopAccounts/data/column-definitions-top-spenders.tsx
  apps/explorer/src/components/Operator/OperatorApprovals.tsx
  apps/explorer/src/components/Operator/OperatorRails.tsx
  apps/explorer/src/components/Rail/components/Stats.tsx
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/UserConsole/RailsSection/data/columnDefinitions.tsx
Due: biome check --write

refactor
  apps/explorer/src/components/Account/AccountRails.tsx
Due: biome check --write

add layout
  apps/explorer/src/components/Account/AccountRails.tsx
Due: biome check --write

turn account rails into tanstack table
  apps/explorer/src/components/Account/components/AccountApprovals.tsx
  apps/explorer/src/components/Account/components/AccountOverview.tsx
  apps/explorer/src/components/Account/components/AccountRails.tsx
  apps/explorer/src/components/Account/components/AccountRailsTable.tsx
  apps/explorer/src/components/Account/components/AccountTokens.tsx
  apps/explorer/src/components/Account/components/RoleIndicator.tsx
  apps/explorer/src/components/Account/data/column-definitions-account-rails.tsx
  apps/explorer/src/components/Account/index.tsx
Due: biome check --write

reuse rail status badge
  apps/explorer/src/components/Account/data/column-definitions-account-rails.tsx
  apps/explorer/src/constants/railStates.ts
Due: biome check --write

simplify
  apps/explorer/src/components/Account/data/column-definitions-account-rails.tsx
Due: biome check --write

show total transacted amount
  apps/explorer/src/components/Account/data/column-definitions-account-rails.tsx
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

progress
  apps/explorer/src/components/Account/components/AccountApprovals.tsx
  apps/explorer/src/components/Account/components/AccountRails.tsx
Due: biome check --write

refactor authorized services to tanstack table
  apps/explorer/src/components/Account/components/AccountApprovals.tsx
  apps/explorer/src/components/Account/components/AccountApprovalsTable.tsx
  apps/explorer/src/components/Account/data/column-definitions-account-approvals.tsx
Due: biome check --write

fix: totalApprovals count on account
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/metrics/collectors.ts
Due: biome check --write

fix: null token in operatorToken
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/metrics/collectors.ts
Due: biome check --write

fix: exclude subgraph dependencies
  .github/dependabot.yml
  packages/subgraph/package.json
  pnpm-lock.yaml
Due: biome format --write

chore: address pr comments
  packages/subgraph/src/payments.ts
Due: biome check --write

Path conditions:
  biome check --write: any of: **/*.{ts,tsx,js,jsx,mts,cts,mjs,cjs}
  biome format --write: any of: **/*.{json,jsonc,css,html}
