Repository FilOzone/filecoin-pay-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

feat(explorer): add search button and validation to accounts and operators (#259)
  apps/explorer/src/components/Accounts/components/AccountsSearchBar.tsx
  apps/explorer/src/components/Accounts/index.tsx
  apps/explorer/src/components/Operators/components/OperatorsSearchBar.tsx
  apps/explorer/src/components/Operators/index.tsx
Due: biome check --write

chore(notification-service): scaffold Cloudflare Workers backend
  apps/notification-service/.gitignore
  apps/notification-service/README.md
  apps/notification-service/alert-processor/index.ts
  apps/notification-service/alert-processor/tsconfig.json
  apps/notification-service/alert-processor/wrangler.jsonc
  apps/notification-service/alert-scheduler/index.ts
  apps/notification-service/alert-scheduler/tsconfig.json
  apps/notification-service/alert-scheduler/wrangler.jsonc
  apps/notification-service/api/index.ts
  apps/notification-service/api/tsconfig.json
  apps/notification-service/api/wrangler.jsonc
  apps/notification-service/migrations/.gitkeep
  apps/notification-service/package.json
  apps/notification-service/shared/.gitkeep
  apps/notification-service/shared/chain.ts
  apps/notification-service/tsconfig.json
  packages/subgraph/README.md
  pnpm-lock.yaml
Due: biome check --write, biome format --write

fix(notification-service): build command
  apps/notification-service/package.json
Due: biome format --write

chore(notification-service): pin wrangler envs, validate prod build, add agent guide
  apps/notification-service/AGENTS.md
  apps/notification-service/CLAUDE.md
  apps/notification-service/README.md
  apps/notification-service/package.json
Due: biome format --write

feat(notification-service): add D1 schema and Drizzle migrations
  apps/notification-service/api/wrangler.jsonc
  apps/notification-service/drizzle.config.ts
  apps/notification-service/migrations/20260717225125_cloudy_frog_thor/migration.sql
  apps/notification-service/migrations/20260717225125_cloudy_frog_thor/snapshot.json
  apps/notification-service/package.json
  apps/notification-service/shared/db/schema.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

chore: scaffold notification-service cloudflare workers backend (#261)
  apps/notification-service/.gitignore
  apps/notification-service/AGENTS.md
  apps/notification-service/CLAUDE.md
  apps/notification-service/README.md
  apps/notification-service/alert-processor/index.ts
  apps/notification-service/alert-processor/tsconfig.json
  apps/notification-service/alert-processor/wrangler.jsonc
  apps/notification-service/alert-scheduler/index.ts
  apps/notification-service/alert-scheduler/tsconfig.json
  apps/notification-service/alert-scheduler/wrangler.jsonc
  apps/notification-service/api/index.ts
  apps/notification-service/api/tsconfig.json
  apps/notification-service/api/wrangler.jsonc
  apps/notification-service/migrations/.gitkeep
  apps/notification-service/package.json
  apps/notification-service/shared/.gitkeep
  apps/notification-service/shared/chain.ts
  apps/notification-service/tsconfig.json
  packages/subgraph/README.md
  pnpm-lock.yaml
Due: biome check --write, biome format --write

feat(notification-service): add send_email bindings for Cloudflare Email Service
  apps/notification-service/alert-processor/wrangler.jsonc
  apps/notification-service/api/wrangler.jsonc
Due: biome format --write

feat(notification-service): add send_email bindings for Cloudflare Email Service (#273)
  apps/notification-service/alert-processor/wrangler.jsonc
  apps/notification-service/api/wrangler.jsonc
Due: biome format --write

feat: add D1 schema and Drizzle migrations to the notification-service (#270)
  apps/notification-service/api/wrangler.jsonc
  apps/notification-service/drizzle.config.ts
  apps/notification-service/migrations/20260717225125_cloudy_frog_thor/migration.sql
  apps/notification-service/migrations/20260717225125_cloudy_frog_thor/snapshot.json
  apps/notification-service/package.json
  apps/notification-service/shared/db/schema.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

feat(notification-service): add alert email template
  apps/notification-service/shared/emails/AlertEmail.tsx
Due: biome check --write

Update apps/notification-service/shared/emails/AlertEmail.tsx
  apps/notification-service/shared/emails/AlertEmail.tsx
Due: biome check --write

chore(notification-service): keep wording more generic and not tied to “storage”
  apps/notification-service/shared/emails/AlertEmail.tsx
Due: biome check --write

feat(notification-service): add verification email template
  apps/notification-service/package.json
  apps/notification-service/shared/emails/VerificationEmail.tsx
  apps/notification-service/tsconfig.json
  pnpm-lock.yaml
Due: biome check --write, biome format --write

fix(notification-service): harden d1 schema constraints and indexes
  apps/notification-service/shared/db/schema.ts
Due: biome check --write

fix: generate initial db migration
  apps/notification-service/migrations/20260721191336_chemical_warbird/migration.sql
  apps/notification-service/migrations/20260721191336_chemical_warbird/snapshot.json
Due: biome format --write

fix(notification-service): add lowercase CHECK to verified_emails.email
  apps/notification-service/migrations/20260721201245_loud_deathstrike/migration.sql
  apps/notification-service/migrations/20260721201245_loud_deathstrike/snapshot.json
  apps/notification-service/shared/db/schema.ts
Due: biome check --write, biome format --write

fix: harden notification service d1 schema constraints and indexes (#276)
  apps/notification-service/migrations/20260721201245_loud_deathstrike/migration.sql
  apps/notification-service/migrations/20260721201245_loud_deathstrike/snapshot.json
  apps/notification-service/shared/db/schema.ts
Due: biome check --write, biome format --write

chore(notification-service): update email image urls
  apps/notification-service/package.json
  apps/notification-service/shared/emails/AlertEmail.tsx
  apps/notification-service/shared/emails/VerificationEmail.tsx
Due: biome check --write, biome format --write

refactor(notification-service): extract shared email components
  apps/notification-service/package.json
  apps/notification-service/shared/emails/common/EmailFooter.tsx
  apps/notification-service/shared/emails/common/EmailHeader.tsx
  apps/notification-service/shared/emails/common/constants.ts
  apps/notification-service/shared/emails/templates/AlertEmail.tsx
  apps/notification-service/shared/emails/templates/VerificationEmail.tsx
  apps/notification-service/shared/emails/tsconfig.json
Due: biome check --write, biome format --write

feat: add email templates to the notification service (#271)
  apps/notification-service/package.json
  apps/notification-service/shared/emails/common/EmailFooter.tsx
  apps/notification-service/shared/emails/common/EmailHeader.tsx
  apps/notification-service/shared/emails/common/constants.ts
  apps/notification-service/shared/emails/templates/AlertEmail.tsx
  apps/notification-service/shared/emails/templates/VerificationEmail.tsx
  apps/notification-service/shared/emails/tsconfig.json
  apps/notification-service/tsconfig.json
  pnpm-lock.yaml
Due: biome check --write, biome format --write

ci: automate subgraph releases with release please
  .github/ISSUE_TEMPLATE/release.md
  .github/scripts/create-release-issue.js
  .github/workflows/deploy.yml
  .github/workflows/pr-title.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  README.md
  packages/subgraph/README.md
  release-please-config.json
Due: biome check --write, biome format --write

chore(notification-service): add test setup
  apps/notification-service/migrations/.gitkeep
  apps/notification-service/package.json
  apps/notification-service/tests/apply-migrations.ts
  apps/notification-service/tests/env.d.ts
  apps/notification-service/tests/tsconfig.json
  apps/notification-service/vitest.config.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

feat(notification-service): add syntax email validation, tests and config rate limiter
  apps/notification-service/api/wrangler.jsonc
  apps/notification-service/package.json
  apps/notification-service/shared/auth.ts
  apps/notification-service/shared/email-validation.ts
  apps/notification-service/tests/shared/email-validation.test.ts
Due: biome check --write, biome format --write

feat(notification-service): implement KV and D1 shared data layer
  apps/notification-service/AGENTS.md
  apps/notification-service/shared/db/queries.ts
  apps/notification-service/shared/kv.ts
Due: biome check --write

feat(notification-service): implement notification-api worker routes
  apps/notification-service/api/index.ts
  apps/notification-service/api/wrangler.jsonc
Due: biome check --write, biome format --write

test(notification-service): configure workers test environment with miniflare and D1 migrations
  apps/notification-service/vitest.config.ts
  pnpm-lock.yaml
Due: biome check --write

fix(notification-service): replace non-null assertions with optional chaining in tests
  apps/notification-service/tests/api/routes.test.ts
Due: biome check --write

refactor(notification-service): move api-only modules out of shared/
  apps/notification-service/api/auth.ts
  apps/notification-service/api/email-validation.ts
  apps/notification-service/api/index.ts
  apps/notification-service/api/kv.ts
  apps/notification-service/api/queries.ts
  apps/notification-service/api/tsconfig.json
  apps/notification-service/shared/.gitkeep
  apps/notification-service/tests/api/auth.test.ts
  apps/notification-service/tests/api/email-validation.test.ts
  apps/notification-service/tests/api/kv.test.ts
  apps/notification-service/tests/api/queries.test.ts
  apps/notification-service/tests/api/routes.test.ts
  apps/notification-service/vitest.config.ts
Due: biome check --write, biome format --write

test(notification-service): add unit and integration tests for shared modules and API routes
  apps/notification-service/tests/api/routes.test.ts
  apps/notification-service/tests/shared/auth.test.ts
  apps/notification-service/tests/shared/db/queries.test.ts
  apps/notification-service/tests/shared/kv.test.ts
Due: biome check --write

refactor(notification-service): extract createDb to shared/db/client.ts
  apps/notification-service/api/index.ts
  apps/notification-service/api/queries.ts
  apps/notification-service/shared/db/client.ts
  apps/notification-service/tests/api/queries.test.ts
  apps/notification-service/tests/api/routes.test.ts
Due: biome check --write

feat(notification-service): add alert scheduler worker
  apps/notification-service/alert-scheduler/index.ts
  apps/notification-service/alert-scheduler/queries.ts
  apps/notification-service/alert-scheduler/tsconfig.json
  apps/notification-service/shared/db/client.ts
  apps/notification-service/shared/messages.ts
Due: biome check --write, biome format --write

test(notification-service): add alert-scheduler worker tests
  apps/notification-service/tests/alert-scheduler/helpers.ts
  apps/notification-service/tests/alert-scheduler/index.test.ts
  apps/notification-service/tests/alert-scheduler/queries.test.ts
  apps/notification-service/vitest.config.ts
Due: biome check --write

feat(notification-service): bind SIWE statement to action and emai
  apps/notification-service/api/auth.ts
  apps/notification-service/api/index.ts
  apps/notification-service/tests/api/auth.test.ts
  apps/notification-service/tests/api/routes.test.ts
Due: biome check --write

feat(notification-service): add rate limiting to unsubscribe and preferredName max length
  apps/notification-service/api/index.ts
  apps/notification-service/tests/api/routes.test.ts
Due: biome check --write

refactor(notification-service): extract buildMimeEmail and sendEmail to shared/emails/send.ts
  apps/notification-service/api/index.ts
  apps/notification-service/shared/emails/send.ts
  apps/notification-service/tests/shared/emails/send.test.ts
  apps/notification-service/vitest.config.ts
Due: biome check --write

refactor(notification-service): use EmailMessageBuilder API and rename send.ts to config.ts
  apps/notification-service/api/index.ts
  apps/notification-service/shared/emails/config.ts
  apps/notification-service/shared/emails/send.ts
  apps/notification-service/tests/api/routes.test.ts
  apps/notification-service/tests/shared/emails/send.test.ts
  apps/notification-service/vitest.config.ts
Due: biome check --write

chore(notification-service): use glob pattern in api tsconfig include
  apps/notification-service/api/tsconfig.json
Due: biome format --write

feat(notification-service): add evlog observability to api worker
  apps/notification-service/api/index.ts
  apps/notification-service/package.json
  pnpm-lock.yaml
Due: biome check --write, biome format --write

refactor(notification-service): simplify AlertMessage and fix enqueue count
  apps/notification-service/alert-scheduler/index.ts
  apps/notification-service/shared/messages.ts
  apps/notification-service/tests/alert-scheduler/index.test.ts
Due: biome check --write

Path conditions:
  biome check --write: any of: **/*.{ts,tsx,js,jsx,mts,cts,mjs,cjs}
  biome format --write: any of: **/*.{json,jsonc,css,html}
