Repository FilOzone/filecoin-pay-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx,mts,cts,mjs,cjs}": ["biome check --write"],
  "**/*.{json,jsonc,css,html}": ["biome format --write"]
}

refactor: extract ExpiryPicker to reuse
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.tsx
  apps/explorer/src/components/UserConsole/StaleQueue/components/SnoozeDialog.tsx
  apps/explorer/src/components/shared/ExpiryPicker.test.tsx
  apps/explorer/src/components/shared/ExpiryPicker.tsx
Due: biome check --write

feat: inactive dataset email
  apps/explorer/src/app/console/(console)/notifications/page.tsx
  apps/explorer/src/components/UserConsole/NotificationsSection/components/AlertsActiveCard.tsx
  apps/explorer/src/components/UserConsole/NotificationsSection/components/UnsubscribeDialog.tsx
  apps/explorer/src/components/UserConsole/StaleQueue/components/StaleQueueRow.tsx
  apps/explorer/src/components/UserConsole/StaleQueue/index.test.tsx
  apps/explorer/src/components/UserConsole/StaleQueue/index.tsx
  apps/notification-service/AGENTS.md
  apps/notification-service/alert-processor/inactivity.ts
  apps/notification-service/alert-processor/index.ts
  apps/notification-service/alert-processor/process-message.ts
  apps/notification-service/alert-processor/queries.ts
  apps/notification-service/alert-processor/wrangler.jsonc
  apps/notification-service/migrations/20260924043027_complete_natasha_romanoff/migration.sql
  apps/notification-service/migrations/20260924043027_complete_natasha_romanoff/snapshot.json
  apps/notification-service/shared/chain.ts
  apps/notification-service/shared/db/schema.ts
  apps/notification-service/shared/emails/templates/InactivityEmail.tsx
  apps/notification-service/tests/alert-processor/inactivity.test.ts
  apps/notification-service/tests/alert-processor/process-message.integration.test.ts
  apps/notification-service/vitest.config.ts
Due: biome check --write, biome format --write

ci(explorer): deploy Vercel from GitHub Actions
  .github/workflows/deploy-explorer.yml
  apps/explorer/vercel.json
  docs/RELEASE.md
Due: biome format --write

Update apps/explorer/src/components/UserConsole/FundsSection/components/DirectSquidDepositDialog.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/DirectSquidDepositDialog.tsx
Due: biome check --write

Update apps/explorer/src/components/UserConsole/FundsSection/data/squid-deposit-execution.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-deposit-execution.test.ts
Due: biome check --write

Update apps/explorer/src/components/UserConsole/FundsSection/components/DirectSquidDepositDialog.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/DirectSquidDepositDialog.test.tsx
Due: biome check --write

test(explorer): address PR 490 review cleanup
  apps/explorer/src/components/UserConsole/FundsSection/components/DirectSquidDepositDialog.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/DirectSquidDepositDialog.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-deposit-execution.test.ts
  apps/explorer/src/hooks/useRailSettlements.test.tsx
Due: biome check --write

fix(explorer): build types before Vercel build
  apps/explorer/vercel.json
Due: biome format --write

fix(ci): keep Vercel token away from PR code
  .github/workflows/deploy-explorer.yml
Due: none

ci(explorer): deploy Vercel from GitHub Actions (#493)
  .github/workflows/deploy-explorer.yml
  apps/explorer/vercel.json
  docs/RELEASE.md
Due: biome format --write

test(explorer): add Playwright e2e with fake and real Privy modes
  .gitignore
  apps/explorer/AGENTS.md
  apps/explorer/e2e/fake-privy.tsx
  apps/explorer/e2e/privy.ts
  apps/explorer/e2e/smoke.spec.ts
  apps/explorer/next.config.ts
  apps/explorer/package.json
  apps/explorer/playwright.config.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

ci(explorer): run Playwright e2e on PRs, on a free port
  .github/workflows/e2e.yml
  apps/explorer/playwright.config.ts
Due: biome check --write

ci(explorer): give PR previews a stable domain
  .github/workflows/deploy-explorer.yml
  apps/explorer/README.md
Due: none

ci(explorer): give PR previews a stable domain (#497)
  .github/workflows/deploy-explorer.yml
  apps/explorer/README.md
Due: none

chore: fix biome 2.5.14 schema, format and lint
  apps/explorer/biome.json
  apps/explorer/src/components/UserConsole/AddServiceDialog/index.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/DirectSquidDepositDialog.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-deposit-execution.test.ts
  apps/explorer/src/components/UserConsole/RailsSection/rails-filter.test.ts
  apps/metrics/biome.json
  biome.json
  packages/configs/biome/base.json
  packages/configs/biome/next.json
  packages/configs/biome/react.json
  packages/subgraph/biome.json
  packages/types/biome.json
  packages/ui/biome.json
Due: biome check --write, biome format --write

test(explorer): adopt @testing-library/react
  apps/explorer/AGENTS.md
  apps/explorer/package.json
  apps/explorer/src/components/shared/Providers.test.tsx
  pnpm-lock.yaml
Due: biome check --write, biome format --write

fix(explorer): keep console pages mounted when Privy re-syncs the same wallet
  apps/explorer/e2e/cli-newcomer.spec.ts
  apps/explorer/src/app/console/(console)/console-access.ts
  apps/explorer/src/app/console/(console)/layout.tsx
  apps/explorer/src/app/console/layout.test.tsx
Due: biome check --write

test(explorer): add .env.e2e.example and keep fake Privy out of builds
  .gitignore
  apps/explorer/.env.e2e.example
  apps/explorer/.gitignore
  apps/explorer/AGENTS.md
  apps/explorer/next.config.ts
  apps/explorer/playwright.config.ts
Due: biome check --write

chore: raise the Node floor to 24
  .github/workflows/biome.yml
  .github/workflows/build.yml
  .github/workflows/notification-service.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
  AGENTS.md
  README.md
  package.json
Due: biome format --write

style(explorer): format layout test for biome 2.5.14
  apps/explorer/src/app/console/layout.test.tsx
Due: biome check --write

test(explorer): add Playwright e2e with fake and real Privy modes (#496)
  .github/workflows/e2e.yml
  .gitignore
  apps/explorer/.env.e2e.example
  apps/explorer/.gitignore
  apps/explorer/AGENTS.md
  apps/explorer/e2e/fake-privy.tsx
  apps/explorer/e2e/privy.ts
  apps/explorer/e2e/smoke.spec.ts
  apps/explorer/next.config.ts
  apps/explorer/package.json
  apps/explorer/playwright.config.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

test(explorer): cover filecoin-pin login's funding link surviving sign-in
  apps/explorer/e2e/cli-newcomer.spec.ts
Due: biome check --write

test(explorer): drive the authorize journey from the real filecoin-pin CLI
  apps/explorer/AGENTS.md
  apps/explorer/e2e/cli-newcomer.spec.ts
  apps/explorer/e2e/filecoin-pin.ts
Due: biome check --write

fix(explorer): allow Blockscout in the console CSP
  apps/explorer/e2e/cli-logout.spec.ts
  apps/explorer/next.config.ts
Due: biome check --write

test(explorer): check the authorize dialog asks for the right registry login
  apps/explorer/e2e/cli-newcomer.spec.ts
  apps/explorer/e2e/fake-privy.tsx
Due: biome check --write

test(explorer): pin filecoin-pin and decode with the published registry ABI
  apps/explorer/AGENTS.md
  apps/explorer/e2e/cli-newcomer.spec.ts
  apps/explorer/e2e/filecoin-pin.ts
  apps/explorer/package.json
  pnpm-lock.yaml
Due: biome check --write, biome format --write

fix(explorer): allow Blockscout in the console CSP (#509)
  apps/explorer/e2e/cli-logout.spec.ts
  apps/explorer/next.config.ts
Due: biome check --write

fix(explorer): confirm session-key logins from the registry, not only the wallet
  apps/explorer/e2e/cli-newcomer.spec.ts
  apps/explorer/e2e/fake-chain.ts
  apps/explorer/e2e/fake-privy.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.test.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.tsx
  apps/explorer/src/utils/fwssPermissionPreimages.ts
  apps/explorer/src/utils/sessionKeys.test.ts
Due: biome check --write

Update apps/explorer/src/app/console/(console)/console-access.ts
  apps/explorer/src/app/console/(console)/console-access.ts
Due: biome check --write

style(explorer): format console-access for biome
  apps/explorer/src/app/console/(console)/console-access.ts
Due: biome check --write

fix(explorer): keep console pages mounted when Privy re-syncs the same wallet (#508)
  apps/explorer/e2e/cli-newcomer.spec.ts
  apps/explorer/src/app/console/(console)/console-access.ts
  apps/explorer/src/app/console/(console)/layout.tsx
  apps/explorer/src/app/console/layout.test.tsx
Due: biome check --write

test(explorer): assert the exact permissions the authorize request sends
  apps/explorer/e2e/cli-newcomer.spec.ts
  apps/explorer/src/utils/fwssPermissionPreimages.ts
  apps/explorer/src/utils/sessionKeys.test.ts
Due: biome check --write

refactor(explorer): take session-key permission hashes from synapse-core
  apps/explorer/e2e/cli-newcomer.spec.ts
  apps/explorer/package.json
  apps/explorer/src/utils/fwssPermissionPreimages.ts
  apps/explorer/src/utils/sessionKeys.test.ts
  apps/explorer/src/utils/sessionKeys.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

test(explorer): run the wallet journeys against real Privy on calibration
  apps/explorer/e2e/cli-newcomer.spec.ts
  apps/explorer/playwright.config.ts
Due: biome check --write

test(explorer): filecoin-pin login journeys driven by the real CLI (#510)
  apps/explorer/AGENTS.md
  apps/explorer/e2e/cli-newcomer.spec.ts
  apps/explorer/e2e/fake-privy.tsx
  apps/explorer/e2e/filecoin-pin.ts
  apps/explorer/package.json
  apps/explorer/src/utils/sessionKeys.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

fix(explorer): keep each pending session-key login until it confirms once
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.test.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.tsx
Due: biome check --write

fix(explorer): track each session-key submission's read-back separately
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.test.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.tsx
Due: biome check --write

fix(explorer): hold Authorize while the same key's login is still pending
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.test.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.tsx
Due: biome check --write

fix(explorer): confirm session-key logins from the registry, not only the wallet (#511)
  apps/explorer/e2e/cli-newcomer.spec.ts
  apps/explorer/e2e/fake-chain.ts
  apps/explorer/e2e/fake-privy.tsx
  apps/explorer/playwright.config.ts
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.test.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.tsx
Due: biome check --write
