Repository FilOzone/filecoin-pay-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

Potential fix for pull request finding
  packages/subgraph/README.md
Due: none

Use data source template for tokens (#132)
  packages/subgraph/README.md
  packages/subgraph/config/calibration.json
  packages/subgraph/config/mainnet.json
  packages/subgraph/src/payments.ts
  packages/subgraph/templates/subgraph.template.yaml
Due: biome check --write, biome format --write

Document subgraph tags. Closes #155 (#157)
  packages/subgraph/README.md
Due: none

Show metrics for all known tokens on homepage. Closes #137 (#146)
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/hooks/useStatsDashboard.ts
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

port remaining tables
  apps/explorer/src/components/Rail/components/RailRateChanges.tsx
  apps/explorer/src/components/Rail/components/RailRateChangesTable.tsx
  apps/explorer/src/components/Rail/components/RailSettlements.tsx
  apps/explorer/src/components/Rail/components/RailSettlementsTable.tsx
  apps/explorer/src/components/Rail/data/column-definitions-rail-rate-changes.tsx
  apps/explorer/src/components/Rail/data/column-definitions-rail-settlements.tsx
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

fix type
  apps/explorer/src/components/Rails/components/RailsSearchBar.tsx
Due: biome check --write

make filters more flexible
  apps/explorer/src/hooks/useInfiniteRails.ts
Due: biome check --write

add validation
  apps/explorer/src/components/Rails/index.tsx
Due: biome check --write

fix(Rails): validate railId search query. closes #148
  apps/explorer/src/components/Rails/index.tsx
Due: biome check --write

wip
  packages/subgraph/schemas/schema.v1.graphql
  packages/subgraph/src/utils/metrics/core.ts
Due: biome check --write

fix
  apps/explorer/src/components/Rails/index.tsx
Due: biome check --write

Update apps/explorer/src/components/shared/NetworkLink.tsx
  apps/explorer/src/components/shared/NetworkLink.tsx
Due: biome check --write

wip
  packages/subgraph/schemas/schema.v1.graphql
  packages/subgraph/src/utils/helpers.ts
Due: biome check --write

Revert "Update apps/explorer/src/components/shared/NetworkLink.tsx"
  apps/explorer/src/components/shared/NetworkLink.tsx
Due: biome check --write

subgraph: add `account#usdfc{Earned,Spent}`
  packages/subgraph/src/payments.ts
Due: biome check --write

Add rail details page. Closes #133 (#145)
  apps/explorer/src/app/[network]/rails/[id]/page.tsx
  apps/explorer/src/components/Rail/DetailCard.tsx
  apps/explorer/src/components/Rail/RailOverview.tsx
  apps/explorer/src/components/Rail/RailRateChanges.tsx
  apps/explorer/src/components/Rail/RailSettlements.tsx
  apps/explorer/src/components/Rail/RailStates.tsx
  apps/explorer/src/components/Rail/components/RailOneTimePayments.tsx
  apps/explorer/src/components/Rail/components/RailOneTimePaymentsTable.tsx
  apps/explorer/src/components/Rail/components/RailRateChanges.tsx
  apps/explorer/src/components/Rail/components/RailRateChangesTable.tsx
  apps/explorer/src/components/Rail/components/RailSettlements.tsx
  apps/explorer/src/components/Rail/components/RailSettlementsTable.tsx
  apps/explorer/src/components/Rail/components/Stats.tsx
  apps/explorer/src/components/Rail/data/column-definitions-rail-one-time-payments.tsx
  apps/explorer/src/components/Rail/data/column-definitions-rail-rate-changes.tsx
  apps/explorer/src/components/Rail/data/column-definitions-rail-settlements.tsx
  apps/explorer/src/components/Rail/index.ts
  apps/explorer/src/components/Rail/index.tsx
  apps/explorer/src/components/Rails/components/RailsSearchBar.tsx
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/Rails/index.tsx
  apps/explorer/src/components/shared/NetworkLink.tsx
  apps/explorer/src/components/shared/index.ts
  apps/explorer/src/hooks/useInfiniteRails.ts
  apps/explorer/src/hooks/useRailDetails.ts
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

Update packages/subgraph/src/payments.ts
  packages/subgraph/src/payments.ts
Due: biome check --write

feat(subgraph): add operator.usdfcSettled. #141
  packages/subgraph/schemas/schema.v1.graphql
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/helpers.ts
Due: biome check --write

doc: numbering
  packages/subgraph/README.md
Due: none

refactor(subgraph): anchor fee-auction purchases on ERC-20 Transfer
  packages/subgraph/config/Payments-abi.json
  packages/subgraph/config/calibration.json
  packages/subgraph/config/mainnet.json
  packages/subgraph/src/payments.ts
  packages/subgraph/templates/subgraph.template.yaml
Due: biome check --write, biome format --write

fix: add axlUSDC
  packages/subgraph/README.md
  packages/subgraph/config/calibration.json
  packages/subgraph/config/mainnet.json
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/keys.ts
  packages/subgraph/templates/subgraph.template.yaml
Due: biome check --write, biome format --write

Update apps/explorer/src/hooks/useStatsDashboard.ts
  apps/explorer/src/hooks/useStatsDashboard.ts
Due: biome check --write

Add stat "# active rails". Closes #136 (#147)
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/components/shared/MetricItem.tsx
  apps/explorer/src/hooks/useStatsDashboard.ts
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

Update apps/explorer/src/components/Rails/index.tsx
  apps/explorer/src/components/Rails/index.tsx
Due: biome check --write

Update index.tsx
  apps/explorer/src/components/Rails/index.tsx
Due: biome check --write

refactor(subgraph): anchor fee-auction purchases on ERC-20 Transfer (#128)
  packages/subgraph/README.md
  packages/subgraph/config/Payments-abi.json
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/keys.ts
  packages/subgraph/templates/subgraph.template.yaml
Due: biome check --write, biome format --write

fix(Rails): Validate railId search query. Closes #148 (#158)
  apps/explorer/src/components/Rails/index.tsx
Due: biome check --write

Apply suggestion from @Copilot
  packages/subgraph/src/utils/metrics/collectors.ts
Due: biome check --write

Apply suggestion from @juliangruber
  packages/subgraph/src/utils/metrics/collectors.ts
Due: biome check --write

fix increment accumulatedFees
  packages/subgraph/src/payments.ts
Due: biome check --write

Potential fix for pull request finding
  packages/subgraph/schemas/schema.v1.graphql
Due: none

feat(Rail.Stats): Render days instead of epochs
  apps/explorer/src/components/Rail/components/Stats.tsx
Due: biome check --write

fix(subgraph): rename `arbiter` to `validator`
  packages/subgraph/schemas/schema.v1.graphql
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/helpers.ts
  packages/subgraph/tests/payments/fixtures.ts
Due: biome check --write

fix tooltip
  apps/explorer/src/components/Rail/components/Stats.tsx
Due: biome check --write

use `EPOCH_DURATION`
  apps/explorer/src/components/Rail/components/Stats.tsx
Due: biome check --write

Path conditions:
  biome check --write: any of: **/*.{ts,tsx,js,jsx,mts,cts,mjs,cjs}
  biome format --write: any of: **/*.{json,jsonc,css,html}
