Repository FilOzone/filecoin-pay-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

chore: add TODOs for pending fixes
  apps/explorer/src/components/UserConsole/RailsSection.tsx
  apps/explorer/src/components/UserConsole/SettleRailDialog.tsx
Due: biome check --write

feat: add gh icons to footer links
  apps/explorer/public/github-mark-white.svg
  apps/explorer/public/github-mark.svg
  apps/explorer/src/components/shared/Footer.tsx
  packages/ui/src/components/theme-provider.tsx
Due: biome check --write

fix: update rate change queue handling logic
  packages/subgraph/src/payments.ts
Due: biome check --write

feat: add timestamp tracking for lockup settlements in UserToken schema
  packages/subgraph/schemas/schema.v1.graphql
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/src/utils/helpers.ts
Due: biome check --write

feat: update funds section expiry display with warning indicators
  apps/explorer/src/components/Account/AccountTokens.tsx
  apps/explorer/src/components/UserConsole/FundsSection.tsx
  apps/explorer/src/services/grapql/queries.ts
  apps/explorer/src/utils/constants.ts
  apps/explorer/src/utils/formatter.ts
  packages/types/.gitignore
  packages/types/src/generated/graphql.ts
Due: biome check --write

feat: add network indicator badge
  apps/explorer/src/components/shared/Header.tsx
  apps/explorer/src/components/shared/NetworkIndicator.tsx
  apps/explorer/src/components/shared/index.ts
Due: biome check --write

feat: add styled link
  apps/explorer/src/components/Account/AccountRails.tsx
  apps/explorer/src/components/Home/RecentAccounts.tsx
  apps/explorer/src/components/Home/RecentOperators.tsx
  apps/explorer/src/components/Home/RecentRails.tsx
  apps/explorer/src/components/Operator/OperatorRails.tsx
  apps/explorer/src/components/shared/CopyableText.tsx
  apps/explorer/src/components/shared/StyledLink.tsx
  apps/explorer/src/components/shared/index.ts
  apps/explorer/src/pages/Rails.tsx
  packages/ui/src/styles/globals.css
Due: biome check --write, biome format --write

feat: add year to date format
  apps/explorer/src/components/Account/AccountTokens.tsx
  apps/explorer/src/utils/formatter.ts
Due: biome check --write

feat: add tooltips to explain terms
  apps/explorer/src/components/Account/AccountOverview.tsx
  apps/explorer/src/components/Home/RecentAccounts.tsx
  apps/explorer/src/components/Home/RecentOperators.tsx
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/components/Operator/OperatorOverview.tsx
  apps/explorer/src/components/UserConsole/AccountInfo.tsx
  apps/explorer/src/components/shared/MetricItem.tsx
  apps/explorer/src/pages/Accounts.tsx
  apps/explorer/src/pages/Operators.tsx
Due: biome check --write

feat: transform recent accounts/operators into sortable leaderboards with rankings
  apps/explorer/src/components/Home/RecentAccounts.tsx
  apps/explorer/src/components/Home/RecentOperators.tsx
  apps/explorer/src/hooks/useAccountsLeaderboard.ts
  apps/explorer/src/hooks/useOperatorsLeaderboard.ts
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

refactor: centralize rail state management
  apps/explorer/src/components/Account/AccountRails.tsx
  apps/explorer/src/components/Home/RecentRails.tsx
  apps/explorer/src/components/Operator/OperatorRails.tsx
  apps/explorer/src/components/UserConsole/RailsSection.tsx
  apps/explorer/src/components/UserConsole/SettleRailDialog.tsx
  apps/explorer/src/constants/railStates.ts
  apps/explorer/src/pages/RailDetail.tsx
  apps/explorer/src/pages/Rails.tsx
Due: biome check --write

feat: clear search input when changing search criteria
  apps/explorer/src/pages/Rails.tsx
Due: biome check --write

refactor: rename operator to service in UI text and components
  apps/explorer/src/components/Account/AccountApprovals.tsx
  apps/explorer/src/components/Account/AccountOverview.tsx
  apps/explorer/src/components/Account/AccountRails.tsx
  apps/explorer/src/components/Home/RecentRails.tsx
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/components/Home/TopAccounts.tsx
  apps/explorer/src/components/Home/TopOperators.tsx
  apps/explorer/src/components/Home/index.ts
  apps/explorer/src/components/Operator/OperatorApprovals.tsx
  apps/explorer/src/components/Operator/OperatorOverview.tsx
  apps/explorer/src/components/Operator/OperatorRails.tsx
  apps/explorer/src/components/Rail/DetailCard.tsx
  apps/explorer/src/components/Rail/RailOverview.tsx
  apps/explorer/src/components/UserConsole/AccountInfo.tsx
  apps/explorer/src/components/UserConsole/OperatorApprovalsSection.tsx
  apps/explorer/src/components/UserConsole/RailsSection.tsx
  apps/explorer/src/components/UserConsole/States/AccountNotFound.tsx
  apps/explorer/src/pages/Accounts.tsx
  apps/explorer/src/pages/Home.tsx
  apps/explorer/src/pages/Operators.tsx
  apps/explorer/src/pages/Rails.tsx
Due: biome check --write

fix: increase token rate precision to 15
  apps/explorer/src/components/Rail/RailRateChanges.tsx
Due: biome check --write

feat: add beta warning banner to user console page
  apps/explorer/src/pages/UserConsole.tsx
Due: biome check --write

feat: add payout and earnings tracking to users
  apps/explorer/src/components/Account/AccountTokens.tsx
  apps/explorer/src/components/UserConsole/FundsSection.tsx
  apps/explorer/src/services/grapql/queries.ts
  packages/subgraph/schemas/schema.v1.graphql
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/helpers.ts
  packages/types/src/generated/graphql.ts
Due: biome check --write

chore: update gitignore to exclude all vercel files
  .gitignore
Due: none

refactor: remove unused decode.ts file
  packages/subgraph/src/utils/decode.ts
  packages/subgraph/src/utils/metrics/index.ts
Due: biome check --write

fix: correct grammar in account approval empty states
  apps/explorer/src/components/Account/AccountApprovals.tsx
  apps/explorer/src/components/UserConsole/States/AccountNotFound.tsx
Due: biome check --write

fix: update to use 'service' instead of 'operator'
  apps/explorer/src/components/UserConsole/States/AccountNotFound.tsx
Due: biome check --write

fix: add licence to the repo
  LICENSE.md
  README.md
Due: none

feat: upgrade Biome to v2.3.2 and enable Tailwind support
  .github/workflows/biome.yml
  biome.json
  package.json
  packages/configs/biome/react.json
  pnpm-lock.yaml
Due: biome format --write

feat: upgrade to Filecoin-Pay 1.0.0 release
  apps/explorer/src/utils/constants.ts
  packages/subgraph/config/Payments-abi.json
  packages/subgraph/config/network.json
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/metrics/collectors.ts
  packages/subgraph/templates/subgraph.template.yaml
Due: biome check --write, biome format --write

feat: migrate home page
  apps/explorer/package.json
  apps/explorer/public/stats/active-rails.svg
  apps/explorer/public/stats/idle-rails.svg
  apps/explorer/public/stats/terminated-rails.svg
  apps/explorer/public/stats/total-fil-burned.svg
  apps/explorer/public/stats/total-rails.svg
  apps/explorer/public/stats/total-services.svg
  apps/explorer/public/stats/unique-payees.svg
  apps/explorer/public/stats/unique-payers.svg
  apps/explorer/src/app/page.tsx
  apps/explorer/src/components/Home/RecentRails.tsx
  apps/explorer/src/components/Home/RecentRails/components/RecentRailsTable.tsx
  apps/explorer/src/components/Home/RecentRails/components/index.ts
  apps/explorer/src/components/Home/RecentRails/data/column-definitions.tsx
  apps/explorer/src/components/Home/RecentRails/index.tsx
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/components/Home/TopAccounts.tsx
  apps/explorer/src/components/Home/TopAccounts/components/TopAccountsTable.tsx
  apps/explorer/src/components/Home/TopAccounts/components/index.ts
  apps/explorer/src/components/Home/TopAccounts/data/column-definitions.tsx
  apps/explorer/src/components/Home/TopAccounts/index.tsx
  apps/explorer/src/components/Home/TopOperators.tsx
  apps/explorer/src/components/Home/TopOperators/components/TopOperatorsTable.tsx
  apps/explorer/src/components/Home/TopOperators/components/index.ts
  apps/explorer/src/components/Home/TopOperators/data/column-definitions.tsx
  apps/explorer/src/components/Home/TopOperators/index.tsx
  apps/explorer/src/components/shared/CopyButton.tsx
  apps/explorer/src/components/shared/CopyableText.tsx
  apps/explorer/src/components/shared/MetricItem.tsx
  apps/explorer/src/components/shared/Providers.tsx
  pnpm-lock.yaml
Due: biome check --write, biome format --write

feat: migrate rails, accounts and operators page
  apps/explorer/src/app/accounts/page.tsx
  apps/explorer/src/app/operators/page.tsx
  apps/explorer/src/app/rails/page.tsx
  apps/explorer/src/components/Accounts/components/AccountsEmptyStates.tsx
  apps/explorer/src/components/Accounts/components/AccountsErrorState.tsx
  apps/explorer/src/components/Accounts/components/AccountsLoadingState.tsx
  apps/explorer/src/components/Accounts/components/AccountsPageHeader.tsx
  apps/explorer/src/components/Accounts/components/AccountsSearchBar.tsx
  apps/explorer/src/components/Accounts/components/AccountsTable.tsx
  apps/explorer/src/components/Accounts/components/index.ts
  apps/explorer/src/components/Accounts/data/column-definitions.tsx
  apps/explorer/src/components/Accounts/index.tsx
  apps/explorer/src/components/Operators/components/OperatorsEmptyStates.tsx
  apps/explorer/src/components/Operators/components/OperatorsErrorState.tsx
  apps/explorer/src/components/Operators/components/OperatorsLoadingState.tsx
  apps/explorer/src/components/Operators/components/OperatorsPageHeader.tsx
  apps/explorer/src/components/Operators/components/OperatorsSearchBar.tsx
  apps/explorer/src/components/Operators/components/OperatorsTable.tsx
  apps/explorer/src/components/Operators/components/index.ts
  apps/explorer/src/components/Operators/data/column-definitions.tsx
  apps/explorer/src/components/Operators/index.tsx
  apps/explorer/src/components/Rails/components/RailsEmptyStates.tsx
  apps/explorer/src/components/Rails/components/RailsErrorState.tsx
  apps/explorer/src/components/Rails/components/RailsLoadingState.tsx
  apps/explorer/src/components/Rails/components/RailsSearchBar.tsx
  apps/explorer/src/components/Rails/components/RailsTable.tsx
  apps/explorer/src/components/Rails/components/index.ts
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/Rails/index.tsx
  apps/explorer/src/components/shared/InfiniteScrollLoader.tsx
  apps/explorer/src/components/shared/index.ts
  apps/explorer/src/styles/globals.css
  packages/ui/package.json
  packages/ui/src/components/popover.tsx
  packages/ui/src/styles/globals.css
  pnpm-lock.yaml
Due: biome check --write, biome format --write

refactor: standardize loading and error states across home page
  apps/explorer/src/components/Home/RecentRails/data/column-definitions.tsx
  apps/explorer/src/components/Home/RecentRails/index.tsx
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/components/Home/TopAccounts/index.tsx
  apps/explorer/src/components/Home/TopOperators/index.tsx
  apps/explorer/src/constants/railStates.ts
Due: biome check --write

refactor: standardize loading & error states for rails, accounts & operators pages
  apps/explorer/src/components/Accounts/components/AccountsErrorState.tsx
  apps/explorer/src/components/Accounts/components/AccountsLoadingState.tsx
  apps/explorer/src/components/Accounts/components/AccountsSearchBar.tsx
  apps/explorer/src/components/Accounts/components/index.ts
  apps/explorer/src/components/Accounts/index.tsx
  apps/explorer/src/components/Operators/components/OperatorsErrorState.tsx
  apps/explorer/src/components/Operators/components/OperatorsLoadingState.tsx
  apps/explorer/src/components/Operators/components/OperatorsSearchBar.tsx
  apps/explorer/src/components/Operators/components/index.ts
  apps/explorer/src/components/Operators/index.tsx
  apps/explorer/src/components/Rails/components/RailsErrorState.tsx
  apps/explorer/src/components/Rails/components/RailsLoadingState.tsx
  apps/explorer/src/components/Rails/components/RailsSearchBar.tsx
  apps/explorer/src/components/Rails/components/index.ts
  apps/explorer/src/components/Rails/index.tsx
  apps/explorer/src/pages/AccountDetail.tsx
Due: biome check --write

fix: remove vite page
  apps/explorer/src/pages/AccountDetail.tsx
Due: biome check --write

feat: update navigation to use internal routes
  apps/explorer/src/app/console/page.tsx
  apps/explorer/src/components/shared/CustomConnectButton/index.tsx
  apps/explorer/src/components/shared/Navigation/constants/navigation.ts
  apps/explorer/src/constants/paths.ts
Due: biome check --write

refactor: fix button loading states
  apps/explorer/src/components/Home/RecentRails/data/column-definitions.tsx
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/UserConsole/ApproveOperatorDialog.tsx
  apps/explorer/src/components/UserConsole/DepositAndApproveDialog.tsx
  apps/explorer/src/components/UserConsole/DepositDialog.tsx
  apps/explorer/src/components/UserConsole/IncreaseApprovalDialog.tsx
  apps/explorer/src/components/UserConsole/WithdrawDialog.tsx
  apps/explorer/src/components/shared/Navigation/constants/navigation.ts
  apps/explorer/src/constants/paths.ts
  pnpm-lock.yaml
Due: biome check --write

feat: add network toggle in header
  apps/explorer/src/components/shared/Navigation/DesktopNavigation.tsx
  apps/explorer/src/components/shared/Navigation/components/NetworkOptions.tsx
  apps/explorer/src/constants/chains.ts
  apps/explorer/src/services/wagmi/config.tsx
Due: biome check --write

fix: build
  apps/explorer/src/components/Operator/OperatorRails.tsx
Due: biome check --write

refactor: simplify badge rendering in rails column definitions
  apps/explorer/src/components/UserConsole/RailsSection/data/columnDefinitions.tsx
Due: biome check --write

fix: use latest chain def
  apps/explorer/src/utils/constants.ts
Due: biome check --write

disable links to pages not available
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/UserConsole/RailsSection/data/columnDefinitions.tsx
  apps/explorer/src/components/shared/CopyableText.tsx
Due: biome check --write

chore: update package name
  apps/explorer/package.json
Due: biome format --write

feat: add favicon icon
  apps/explorer/src/app/favicon.ico
Due: none

fix: improve stats grid responsiveness on mobile devices
  apps/explorer/src/components/Home/Stats.tsx
Due: biome check --write

Path conditions:
  biome check --write: any of: **/*.{ts,tsx,js,jsx,mts,cts,mjs,cjs}
  biome format --write: any of: **/*.{json,jsonc,css,html}
