Repository FilOzone/filecoin-pay-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx,mts,cts,mjs,cjs}": ["biome check --write"],
  "**/*.{json,jsonc,css,html}": ["biome format --write"]
}

feat(explorer): add runway and locked balance meters to console (#337)
  apps/explorer/src/app/console/(console)/layout.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/FundsMeters.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/FundsMetricCard.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/FundsOverview.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/MeterRow.tsx
  apps/explorer/src/components/UserConsole/FundsSection/utils/formatDuration.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/utils/formatDuration.ts
  apps/explorer/src/components/UserConsole/FundsSection/utils/meterPercent.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/utils/meterPercent.ts
  apps/explorer/src/components/UserConsole/FundsSection/utils/tierStyles.ts
  apps/explorer/src/utils/formatter.test.ts
  apps/explorer/src/utils/formatter.ts
Due: biome check --write

fix(explorer): refresh wallet client after chain switch
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
Due: biome check --write

fix(explorer): keep guided top-up actions reachable
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.tsx
Due: biome check --write

fix(explorer): allow retrying source balance reads
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
Due: biome check --write

fix(explorer): label minimum Squid receive amount
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
Due: biome check --write

fix(explorer): show funding runway status
  apps/explorer/src/components/UserConsole/FundsSection/components/RunwayCard.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/RunwayCard.tsx
Due: biome check --write

fix(explorer): preserve console while wallet chain resolves
  apps/explorer/src/app/console/(console)/page.tsx
  apps/explorer/src/app/console/page.test.tsx
Due: biome check --write

fix(explorer): preserve top-up state across network switch
  apps/explorer/src/app/console/(console)/layout.tsx
Due: biome check --write

fix(explorer): clear stale balance retry errors
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
Due: biome check --write

test(explorer): cover top-up state across network switch
  apps/explorer/package.json
  apps/explorer/src/app/console/(console)/ConsoleContent.tsx
  apps/explorer/src/app/console/(console)/layout.tsx
  apps/explorer/src/app/console/layout.test.ts
  apps/explorer/src/app/console/layout.test.tsx
  pnpm-lock.yaml
Due: biome check --write, biome format --write

fix(explorer): mark runway dates approximate
  apps/explorer/src/components/UserConsole/FundsSection/components/RunwayCard.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/RunwayCard.tsx
Due: biome check --write

feat(explorer): simplify cross-chain funding
  apps/explorer/package.json
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-execution.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-execution.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

chore(explorer): update Squid funding package
  apps/explorer/package.json
  pnpm-lock.yaml
Due: biome format --write

fix(explorer): restore wallet network after funding
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
Due: biome check --write

feat(explorer): add console hero to the explorer home page (#338)
  apps/explorer/src/app/[network]/page.tsx
  apps/explorer/src/components/Home/ConsoleHero.tsx
  apps/explorer/src/components/Home/index.ts
Due: biome check --write

fix(explorer): scope recovery to Squid swaps
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-execution.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-execution.ts
Due: biome check --write

fix(explorer): review native funding costs
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/guided-top-up.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/guided-top-up.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-execution.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-execution.ts
Due: biome check --write

fix(explorer): clarify funding action labels
  apps/explorer/src/components/UserConsole/FundsSection/components/AddFundsDialog.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/AddFundsDialog.tsx
  apps/explorer/src/components/UserConsole/FundsSection/index.tsx
Due: biome check --write

fix(explorer): preserve console during source swaps
  apps/explorer/src/app/console/(console)/ConsoleWalletControls.tsx
  apps/explorer/src/app/console/(console)/console-access.ts
  apps/explorer/src/app/console/(console)/layout.tsx
  apps/explorer/src/app/console/(console)/page.tsx
  apps/explorer/src/app/console/layout.test.tsx
  apps/explorer/src/app/console/page.test.tsx
  apps/explorer/src/components/UserConsole/ConsoleProviders.tsx
  apps/explorer/src/components/UserConsole/FundsSection/TopUpDialogController.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/TopUpDialogController.tsx
  apps/explorer/src/components/UserConsole/FundsSection/index.tsx
  apps/explorer/src/components/UserConsole/OperatorApprovalsSection/index.tsx
  apps/explorer/src/components/UserConsole/RailsSection/index.test.tsx
  apps/explorer/src/components/UserConsole/RailsSection/index.tsx
  apps/explorer/src/components/UserConsole/TopUpActivityContext.tsx
Due: biome check --write

docs: annotate FIL One entries with role and service description
  apps/explorer/src/constants/known-addresses.ts
Due: biome check --write

fix(explorer): add fallback RPC transports for source chains
  apps/explorer/src/services/wagmi/config.tsx
  apps/explorer/src/services/wagmi/transports.test.ts
  apps/explorer/src/services/wagmi/transports.ts
Due: biome check --write

fix(explorer): drop hardcoded Squid integrator fallback
  apps/explorer/.env.example
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
Due: biome check --write

test(explorer): cover topUp deep link open and close
  apps/explorer/src/components/UserConsole/FundsSection/TopUpDialogController.test.tsx
Due: biome check --write

refactor(explorer): apply review renames and trims
  apps/explorer/src/services/wagmi/config.tsx
  apps/explorer/src/services/wagmi/transports.test.ts
  apps/explorer/src/services/wagmi/transports.ts
Due: biome check --write

Revert "fix(explorer): drop hardcoded Squid integrator fallback"
  apps/explorer/.env.example
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
Due: biome check --write

chore(explorer): use released Squid funding package
  apps/explorer/package.json
  pnpm-lock.yaml
Due: biome format --write

fix: close squid funding review gaps
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
  apps/explorer/package.json
  apps/explorer/src/app/api/squid/tokens/route.test.ts
  apps/explorer/src/app/api/squid/tokens/route.ts
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/guided-top-up.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/guided-top-up.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-execution.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-execution.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-quote.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-quote.ts
  apps/explorer/src/types/svg.d.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

fix(explorer): deposit delivered Squid amount
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition-flow.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition-flow.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition-lock.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition-lock.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/usdfc-balance.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/usdfc-balance.ts
Due: biome check --write

fix(explorer): resume Squid acquisition recovery
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition-recovery.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition-recovery.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition.ts
  apps/explorer/src/components/UserConsole/FundsSection/hooks/useSquidAcquisitionRecovery.ts
Due: biome check --write

feat(explorer): add session keys console
  apps/explorer/src/app/console/page.tsx
  apps/explorer/src/app/console/session-keys/page.tsx
  apps/explorer/src/components/UserConsole/ConsoleSidebar.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/RevokeDialog.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/download.ts
  apps/explorer/src/components/UserConsole/SessionKeysSection/index.tsx
  apps/explorer/src/hooks/useSessionKeys.ts
  apps/explorer/src/types/index.ts
  apps/explorer/src/utils/sessionKeys.test.ts
  apps/explorer/src/utils/sessionKeys.ts
  apps/explorer/src/utils/toast.ts
  apps/explorer/tsconfig.json
Due: biome check --write, biome format --write

feat(explorer): add session keys console
  apps/explorer/src/app/console/(console)/session-keys/page.tsx
  apps/explorer/src/components/UserConsole/ConsoleSidebar.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/RevokeDialog.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/download.ts
  apps/explorer/src/components/UserConsole/SessionKeysSection/index.tsx
  apps/explorer/src/hooks/useSessionKeys.ts
  apps/explorer/src/types/index.ts
  apps/explorer/src/utils/sessionKeys.test.ts
  apps/explorer/src/utils/sessionKeys.ts
  apps/explorer/src/utils/toast.ts
  apps/explorer/tsconfig.json
Due: biome check --write, biome format --write

fix: persist squid acquisition execution stage
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition-flow.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition-flow.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition-recovery.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition-recovery.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-execution.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-execution.ts
Due: biome check --write

fix: expose saved squid acquisition recovery
  apps/explorer/src/components/UserConsole/FundsSection/TopUpDialogController.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/TopUpDialogController.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.tsx
Due: biome check --write

fix: review allowance-aware squid gas cap
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/guided-top-up.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/guided-top-up.ts
Due: biome check --write

chore(explorer): update Squid funding to 0.3.3
  apps/explorer/package.json
  pnpm-lock.yaml
Due: biome format --write

fix(explorer): lock stale acquisition cleanup
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.tsx
Due: biome check --write

fix(explorer): refresh cross-tab acquisition state
  apps/explorer/src/components/UserConsole/FundsSection/TopUpDialogController.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/TopUpDialogController.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.tsx
Due: biome check --write

fix(explorer): preserve hashes after route rejection
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition-flow.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition-flow.ts
Due: biome check --write

fix(explorer): filter acquisition storage events
  apps/explorer/src/components/UserConsole/FundsSection/TopUpDialogController.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/TopUpDialogController.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-acquisition.ts
Due: biome check --write

fix(explorer): expose guided funding without USDFC
  apps/explorer/src/components/UserConsole/FundsSection/index.test.tsx
  apps/explorer/src/components/UserConsole/FundsSection/index.tsx
Due: biome check --write
