Repository FilOzone/filecoin-pay-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

fix(explorer): pass synapse asChain validation when wallet connected
  apps/explorer/src/constants/chains.ts
  apps/explorer/src/services/wagmi/config.tsx
Due: biome check --write

feat(explorer): add route error boundary
  apps/explorer/src/app/error.tsx
Due: biome check --write

fix(explorer): avoid leaking raw error message in production
  apps/explorer/src/app/error.tsx
Due: biome check --write

fix(explorer): pass synapse asChain validation when wallet connected (#224)
  apps/explorer/src/app/error.tsx
  apps/explorer/src/constants/chains.ts
  apps/explorer/src/services/wagmi/config.tsx
Due: biome check --write

chore: alphabetize exports and update biome schema to 2.4.15
  apps/explorer/src/components/shared/index.ts
  biome.json
  packages/configs/biome/next.json
  packages/configs/biome/react.json
  packages/ui/src/components/card.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/empty.tsx
  packages/ui/src/components/navigation-menu.tsx
  packages/ui/src/components/pagination.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/components/tooltip.tsx
Due: biome check --write, biome format --write

fix(explorer): improve hex address search and dropdown behavior
  apps/explorer/src/components/Home/GlobalSearchBar/index.tsx
  apps/explorer/src/utils/hexUtils.ts
Due: biome check --write

chore: include auto-build changes
  apps/explorer/tsconfig.json
Due: biome format --write

chore: fix broken pnpm lockfile
  pnpm-lock.yaml
Due: none

chore: fix broken pnpm lockfile (#231)
  pnpm-lock.yaml
Due: none

fix(explorer): prevent navigation during search debounce
  apps/explorer/src/components/Home/GlobalSearchBar/index.tsx
Due: biome check --write

fix(explorer): update form submit event type to SubmitEvent
  apps/explorer/src/components/Home/GlobalSearchBar/index.tsx
Due: biome check --write

chore(explorer): next-16 migration
  apps/explorer/package.json
  apps/explorer/src/proxy.ts
  apps/explorer/tsconfig.json
Due: biome check --write, biome format --write

chore(explorer): revert tsconfig.json
  apps/explorer/tsconfig.json
Due: biome format --write

refactor(explorer): unify railId plus address search
  apps/explorer/src/components/Home/GlobalSearchBar/AddressLookupDropdown.tsx
  apps/explorer/src/components/Home/GlobalSearchBar/SearchResultsDropdown.tsx
  apps/explorer/src/components/Home/GlobalSearchBar/index.tsx
  apps/explorer/src/components/Home/GlobalSearchBar/types.ts
  apps/explorer/src/components/Home/GlobalSearchBar/utils.ts
Due: biome check --write

chore: update stale comment
  apps/explorer/src/components/Home/GlobalSearchBar/index.tsx
Due: biome check --write

fix(explorer): improve hex address search and dropdown behavior (#230)
  apps/explorer/src/components/Home/GlobalSearchBar/AddressLookupDropdown.tsx
  apps/explorer/src/components/Home/GlobalSearchBar/SearchResultsDropdown.tsx
  apps/explorer/src/components/Home/GlobalSearchBar/index.tsx
  apps/explorer/src/components/Home/GlobalSearchBar/types.ts
  apps/explorer/src/components/Home/GlobalSearchBar/utils.ts
  apps/explorer/src/utils/hexUtils.ts
Due: biome check --write

chore(explorer): next-16 migration (#232)
  apps/explorer/package.json
  apps/explorer/src/proxy.ts
  apps/explorer/tsconfig.json
Due: biome check --write, biome format --write

Add Filosign address to known addresses
  apps/explorer/src/constants/known-addresses.ts
Due: biome check --write

fix: use lowercase address
  apps/explorer/src/constants/known-addresses.ts
Due: biome check --write

Add Filosign address to known addresses (#239)
  apps/explorer/src/constants/known-addresses.ts
Due: biome check --write

chore: improve code quality and linting configuration
  .gitignore
  apps/explorer/biome.json
  apps/metrics/src/components/AnimatedCounter.tsx
  apps/metrics/src/components/ErrorBoundary.tsx
  apps/metrics/src/components/HeroStats.tsx
  apps/metrics/src/components/LoadingSpinner.tsx
  apps/metrics/src/components/MetricCard.tsx
  apps/metrics/src/components/NetworkHealth.tsx
  apps/metrics/src/components/OperatorLeaderboard.tsx
  apps/metrics/src/components/TokenMetrics.tsx
  apps/metrics/src/components/TopOperatorCharts.tsx
  apps/metrics/src/components/TrendChart.tsx
  apps/metrics/src/main.tsx
  biome.json
  packages/configs/biome/next.json
  packages/configs/biome/react.json
  packages/subgraph/biome.json
  packages/types/biome.json
  packages/types/src/generated/graphql.ts
  packages/ui/biome.json
  packages/ui/src/components/progress-bar.tsx
Due: biome check --write, biome format --write

chore(types): move generated types to gitignore
  packages/types/.gitignore
  packages/types/package.json
  packages/types/src/generated/graphql.ts
Due: biome check --write, biome format --write

install
  pnpm-lock.yaml
Due: none

refactor(biome): consolidate config into shared configs
  apps/explorer/biome.json
  apps/metrics/biome.json
  biome.json
  package.json
  packages/configs/biome/base.json
  packages/configs/biome/next.json
  packages/configs/biome/react.json
  packages/subgraph/biome.json
  packages/subgraph/package.json
  packages/types/biome.json
  packages/ui/biome.json
  pnpm-lock.yaml
Due: biome format --write

chore(biome): refine linting rules across packages
  apps/explorer/biome.json
  packages/configs/biome/next.json
  packages/subgraph/biome.json
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/metrics/constants.ts
Due: biome check --write, biome format --write

fix: types clean script
  packages/types/package.json
Due: biome format --write

fix: show network selector on mobile
  apps/explorer/src/components/shared/Navigation/Navigation.tsx
  docs/assets/issue-162-mobile-network-selector.jpg
Due: biome check --write

chore: add new end line
  packages/types/.gitignore
Due: none

chore(types): move generated types to gitignore (#242)
  packages/types/.gitignore
  packages/types/package.json
  packages/types/src/generated/graphql.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

fix: adjust navigation spacing
  apps/explorer/src/components/shared/Navigation/Navigation.tsx
Due: biome check --write

chore: remove unused mobile network selector screenshot
  docs/assets/issue-162-mobile-network-selector.jpg
Due: none

fix: show network selector on mobile (#246)
  apps/explorer/src/components/shared/Navigation/Navigation.tsx
Due: biome check --write

chore: address pr comments
  apps/explorer/biome.json
  apps/metrics/biome.json
  packages/subgraph/biome.json
  packages/types/biome.json
Due: biome format --write

refactor: refine linting rules across packages (#243)
  apps/explorer/biome.json
  apps/metrics/biome.json
  biome.json
  package.json
  packages/configs/biome/base.json
  packages/configs/biome/next.json
  packages/configs/biome/react.json
  packages/subgraph/biome.json
  packages/subgraph/package.json
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/metrics/constants.ts
  packages/types/biome.json
  packages/ui/biome.json
  pnpm-lock.yaml
Due: biome check --write, biome format --write

fix: clarify rails search behavior
  apps/explorer/src/components/Rails/components/RailsSearchBar.tsx
  apps/explorer/src/components/Rails/index.tsx
  apps/explorer/src/hooks/useInfiniteRails.ts
Due: biome check --write

fix: align rails search controls
  apps/explorer/src/components/Rails/components/RailsSearchBar.tsx
Due: biome check --write

fix: improve rails search validation and accessibility
  apps/explorer/src/components/Rails/components/RailsSearchBar.tsx
  apps/explorer/src/components/Rails/index.tsx
  packages/ui/src/components/select.tsx
Due: biome check --write

feat(explorer): add search button and validation to accounts and operators
  apps/explorer/src/components/Accounts/components/AccountsSearchBar.tsx
  apps/explorer/src/components/Accounts/index.tsx
  apps/explorer/src/components/Operators/components/OperatorsSearchBar.tsx
  apps/explorer/src/components/Operators/index.tsx
Due: biome check --write

fix: improve rails search validation and accessibility (#258)
  apps/explorer/src/components/Rails/components/RailsSearchBar.tsx
  apps/explorer/src/components/Rails/index.tsx
  packages/ui/src/components/select.tsx
Due: biome check --write

fix(explorer): clarify rails search behavior (#257)
  apps/explorer/src/components/Rails/components/RailsSearchBar.tsx
  apps/explorer/src/components/Rails/index.tsx
  apps/explorer/src/hooks/useInfiniteRails.ts
  packages/ui/src/components/select.tsx
Due: biome check --write

Path conditions:
  biome check --write: any of: **/*.{ts,tsx,js,jsx,mts,cts,mjs,cjs}
  biome format --write: any of: **/*.{json,jsonc,css,html}
