Repository FilOzone/filecoin-pay-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

ci: add notification service deploy workflow
  .github/workflows/notification-service.yml
Due: none

chore: add dev scripts per worker with shared local state
  .gitignore
  apps/notification-service/package.json
Due: biome format --write

ci: add staging branch and automated promotion workflow
  .github/workflows/build.yml
  .github/workflows/promote-staging.yml
  .github/workflows/typecheck.yml
Due: none

ci: add notification-service staging deploy
  .github/workflows/notification-service.yml
  .github/workflows/promote-staging.yml
Due: none

ci(notification-service): apply D1 migrations before staging and production deploys
  .github/workflows/notification-service.yml
Due: none

ci: add notification service ci/cd (#300)
  .github/workflows/build.yml
  .github/workflows/notification-service.yml
  .github/workflows/typecheck.yml
  .gitignore
  apps/notification-service/package.json
Due: biome format --write

feat: add notifications page (#298)
  .github/workflows/build.yml
  apps/explorer/.env.example
  apps/explorer/next.config.ts
  apps/explorer/src/app/console/notifications/page.tsx
  apps/explorer/src/app/console/notifications/verify/page.tsx
  apps/explorer/src/app/console/page.tsx
  apps/explorer/src/components/UserConsole/AlertsBanner.tsx
  apps/explorer/src/components/UserConsole/AlertsStatus.tsx
  apps/explorer/src/components/UserConsole/FundsSection/index.tsx
  apps/explorer/src/components/UserConsole/NotificationsSection/components/AlertsActiveCard.tsx
  apps/explorer/src/components/UserConsole/NotificationsSection/components/AlertsOffCard.tsx
  apps/explorer/src/components/UserConsole/NotificationsSection/components/AlertsUnsubscribingCard.tsx
  apps/explorer/src/components/UserConsole/NotificationsSection/components/NotificationSkeleton.tsx
  apps/explorer/src/components/UserConsole/NotificationsSection/components/NotificationsCard.tsx
  apps/explorer/src/components/UserConsole/NotificationsSection/components/NotificationsForm.tsx
  apps/explorer/src/components/UserConsole/NotificationsSection/components/PendingVerificationCard.tsx
  apps/explorer/src/components/UserConsole/NotificationsSection/components/UnsubscribeDialog.tsx
  apps/explorer/src/components/UserConsole/NotificationsSection/components/index.ts
  apps/explorer/src/components/UserConsole/index.ts
  apps/explorer/src/hooks/useNotificationStatus.ts
  apps/explorer/src/hooks/useShowNetworkOptions.ts
  apps/explorer/src/utils/network.ts
  apps/notification-service/alert-processor/wrangler.jsonc
  apps/notification-service/api/wrangler.jsonc
Due: biome check --write, biome format --write

chore: redesign funds section
  apps/explorer/src/app/console/page.tsx
  apps/explorer/src/components/UserConsole/ConsoleSidebar.tsx
  apps/explorer/src/components/UserConsole/DepositDialog.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/FundsOverviewCards.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/FundsSectionLayout.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/index.ts
  apps/explorer/src/components/UserConsole/FundsSection/index.tsx
  apps/explorer/src/components/UserConsole/RailsSection/components/RailsSectionLayout.tsx
  apps/explorer/src/components/UserConsole/RailsSection/index.tsx
Due: biome check --write

feat: pay console improvements (#301)
  apps/explorer/src/components/Account/data/column-definitions-account-approvals.tsx
  apps/explorer/src/components/Account/data/column-definitions-account-rails.tsx
  apps/explorer/src/components/Rail/components/RailRateChanges.tsx
  apps/explorer/src/components/Rail/components/RailRateChangesTable.tsx
  apps/explorer/src/components/Rail/components/Stats.tsx
  apps/explorer/src/components/Rail/data/column-definitions-rail-one-time-payments.tsx
  apps/explorer/src/components/Rail/data/column-definitions-rail-rate-changes.tsx
  apps/explorer/src/components/Rail/data/column-definitions-rail-settlements.tsx
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/FundsTable.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/columnDefinitions.tsx
  apps/explorer/src/components/UserConsole/FundsSection/index.tsx
  apps/explorer/src/components/UserConsole/RailsSection/data/columnDefinitions.tsx
  apps/explorer/src/components/UserConsole/SettleRailDialog.tsx
  apps/explorer/src/components/UserConsole/WithdrawDialog.tsx
  apps/explorer/src/components/shared/EpochTime.tsx
  apps/explorer/src/components/shared/EpochTimeCell.tsx
  apps/explorer/src/components/shared/RailStateBadge.tsx
  apps/explorer/src/components/shared/index.ts
  apps/explorer/src/hooks/useRailSettlementCalculations.ts
  apps/explorer/src/services/grapql/queries.ts
  apps/explorer/src/utils/constants.ts
  apps/explorer/src/utils/formatter.ts
Due: biome check --write

feat(console): add responsive layout with conditional nav, mobile hamburger menu, and stacked wallet/chain
  apps/explorer/src/app/console/(sidebar)/authorizations/page.tsx
  apps/explorer/src/app/console/(sidebar)/layout.tsx
  apps/explorer/src/app/console/(sidebar)/notifications/page.tsx
  apps/explorer/src/app/console/(sidebar)/page.tsx
  apps/explorer/src/app/console/page.tsx
  apps/explorer/src/components/UserConsole/ConsoleSidebar.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/FundsSectionLayout.tsx
  apps/explorer/src/components/UserConsole/FundsSection/index.tsx
  apps/explorer/src/components/shared/ConditionalNavigation.tsx
  apps/explorer/src/components/shared/SiteLayout.tsx
  apps/explorer/src/components/shared/index.ts
Due: biome check --write

⏺ feat(console): redesign rails section with operator grouping and manage view
  apps/explorer/src/components/UserConsole/RailsSection/components/OperatorList.tsx
  apps/explorer/src/components/UserConsole/RailsSection/components/index.ts
  apps/explorer/src/components/UserConsole/RailsSection/data/columnDefinitions.tsx
  apps/explorer/src/components/UserConsole/RailsSection/index.tsx
  pnpm-lock.yaml
Due: biome check --write

ci: include commit hash in promotion PR body
  .github/workflows/promote-staging.yml
Due: none

feat: warn on PRs that bypass staging
  .github/workflows/guard-main.yml
Due: none

chore: add docs/RELEASE.md
  docs/RELEASE.md
Due: none

ci: improve promote-staging workflow and add automated body
  .github/workflows/promote-staging.yml
Due: none

ci: use file diff for promotion skip check and document release flow
  .github/workflows/promote-staging.yml
  docs/RELEASE.md
Due: none

ci: add staging branch and automated promotion workflow
  .github/workflows/promote-staging.yml
Due: none

ci: add two-state subgraph warning and fail-fast false to prod tagging
  .github/workflows/promote-staging.yml
  .github/workflows/tag-subgraph-prod.yml
  docs/RELEASE.md
Due: none

ci: automate subgraph prod promotion via staging-first release flow
  .github/ISSUE_TEMPLATE/release.md
  .github/workflows/promote-staging.yml
  .github/workflows/release-please.yml
  .github/workflows/tag-subgraph-prod.yml
  README.md
  docs/RELEASE.md
  packages/subgraph/README.md
Due: none

feat(explorer): add CLI pairing via ?authorize
  apps/explorer/src/app/console/session-keys/page.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/index.tsx
  apps/explorer/src/utils/authorizeParam.test.ts
  apps/explorer/src/utils/authorizeParam.ts
  apps/explorer/src/utils/sessionKeys.test.ts
  apps/explorer/src/utils/sessionKeys.ts
  packages/types/src/generated/graphql.ts
Due: biome check --write

chore: use squid-evm-funding v0.1.4
  apps/explorer/package.json
  pnpm-lock.yaml
Due: biome format --write

feat(explorer): account-style console with sidebar and header wallet entry
  apps/explorer/src/app/(explorer)/[network]/NetworkSyncWrapper.tsx
  apps/explorer/src/app/(explorer)/[network]/accounts/[address]/page.tsx
  apps/explorer/src/app/(explorer)/[network]/accounts/page.tsx
  apps/explorer/src/app/(explorer)/[network]/layout.tsx
  apps/explorer/src/app/(explorer)/[network]/operators/page.tsx
  apps/explorer/src/app/(explorer)/[network]/page.tsx
  apps/explorer/src/app/(explorer)/[network]/rails/[id]/page.tsx
  apps/explorer/src/app/(explorer)/[network]/rails/page.tsx
  apps/explorer/src/app/(explorer)/layout.tsx
  apps/explorer/src/app/(explorer)/page.tsx
  apps/explorer/src/app/console/authorizations/page.tsx
  apps/explorer/src/app/console/layout.tsx
  apps/explorer/src/app/console/notifications/page.tsx
  apps/explorer/src/app/console/notifications/verify/page.tsx
  apps/explorer/src/app/console/page.tsx
  apps/explorer/src/app/error.tsx
  apps/explorer/src/components/UserConsole/ConsoleAccountGate.tsx
  apps/explorer/src/components/UserConsole/ConsoleProviders.tsx
  apps/explorer/src/components/UserConsole/ConsoleShell.tsx
  apps/explorer/src/components/UserConsole/ConsoleSidebar.tsx
  apps/explorer/src/components/shared/AccountButton/index.tsx
  apps/explorer/src/components/shared/Navigation/DesktopNavigation.tsx
  apps/explorer/src/components/shared/Navigation/Navigation.tsx
  apps/explorer/src/components/shared/SiteLayout.tsx
  apps/explorer/src/components/shared/WalletProviders.tsx
  apps/explorer/src/constants/paths.ts
  apps/explorer/src/hooks/useNavigationItems.ts
  apps/explorer/src/hooks/useShowNetworkOptions.ts
Due: biome check --write

feat(explorer): console hero on the explorer home page
  apps/explorer/src/app/(explorer)/[network]/page.tsx
  apps/explorer/src/components/Home/ConsoleHero.tsx
  apps/explorer/src/components/Home/index.ts
Due: biome check --write

fix(explorer): sync network selection across explorer and console
  apps/explorer/src/app/(explorer)/[network]/NetworkSyncWrapper.tsx
  apps/explorer/src/components/UserConsole/ConsoleShell.tsx
  apps/explorer/src/components/shared/ChainSwitcher.tsx
  apps/explorer/src/components/shared/Navigation/components/NetworkOptions.tsx
  apps/explorer/src/context/Network.tsx
  apps/explorer/src/context/types.ts
Due: biome check --write

feedback w/ mock
  apps/explorer/src/app/console/(sidebar)/notifications/page.tsx
  apps/explorer/src/components/UserConsole/ConsoleSidebar.tsx
  apps/explorer/src/components/UserConsole/DecreaseApprovalDialog.tsx
  apps/explorer/src/components/UserConsole/OperatorApprovalsSection/components/ApprovalSectionLayout.tsx
  apps/explorer/src/components/UserConsole/OperatorApprovalsSection/components/ApprovalsTable.tsx
  apps/explorer/src/components/UserConsole/OperatorApprovalsSection/data/columnDefinitions.tsx
  apps/explorer/src/components/UserConsole/OperatorApprovalsSection/index.tsx
  apps/explorer/src/components/UserConsole/RailsSection/components/OperatorList.tsx
  apps/explorer/src/components/UserConsole/RailsSection/components/ServiceRollup.tsx
  apps/explorer/src/components/UserConsole/RailsSection/components/index.ts
  apps/explorer/src/components/UserConsole/RailsSection/data/columnDefinitions.tsx
  apps/explorer/src/components/UserConsole/RailsSection/index.tsx
  apps/explorer/src/components/UserConsole/States/AccountNotFound.tsx
  apps/explorer/src/services/grapql/queries.ts
  apps/explorer/src/types/index.ts
  apps/explorer/src/utils/formatter.ts
Due: biome check --write

ci: automate subgraph prod promotion via staging-first release flow (#311)
  .github/ISSUE_TEMPLATE/release.md
  .github/workflows/promote-staging.yml
  .github/workflows/release-please.yml
  .github/workflows/tag-subgraph-prod.yml
  README.md
  docs/RELEASE.md
  packages/subgraph/README.md
Due: none

try fix lockfile problems
  apps/explorer/package.json
  pnpm-lock.yaml
Due: biome format --write

fix: consume prebuilt Squid package
  apps/explorer/package.json
  pnpm-lock.yaml
Due: biome format --write

fix(explorer): reuse Synapse time constants
  apps/explorer/src/components/UserConsole/FundsSection/data/funding-runway.ts
  apps/explorer/src/utils/constants.ts
Due: biome check --write

fix(explorer): add selectable funding targets
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/funding-runway.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/funding-runway.ts
  apps/explorer/src/components/UserConsole/FundsSection/index.tsx
Due: biome check --write

fix(explorer): source funding runway on-chain
  apps/explorer/src/components/UserConsole/DepositDialog.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/funding-runway.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/funding-runway.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/guided-top-up.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/index.tsx
Due: biome check --write

fix(explorer): consume browser-safe Squid release
  apps/explorer/package.json
  pnpm-lock.yaml
Due: biome format --write

fix(explorer): log Squid catalog failures
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
Due: biome check --write

fix(explorer): land console connects on Filecoin
  apps/explorer/src/components/UserConsole/ConsoleProviders.tsx
Due: biome check --write

feat(explorer): runway slider and Squid spend estimate
  apps/explorer/src/components/UserConsole/DepositDialog.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/AddFundsDialog.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/RunwayCard.tsx
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/funding-runway.ts
  apps/explorer/src/components/UserConsole/FundsSection/index.tsx
Due: biome check --write

refactor: rename settlementEpoch to currentEpoch and extract untilEpoch calculation
  apps/explorer/src/components/UserConsole/FundsSection/index.tsx
  apps/explorer/src/components/UserConsole/RailsSection/index.tsx
  apps/explorer/src/components/UserConsole/SettleRailDialog/SettlementDetails.tsx
  apps/explorer/src/components/UserConsole/SettleRailDialog/index.tsx
  apps/explorer/src/components/UserConsole/SettleRailDialog/useSettleRailDialog.ts
  apps/explorer/src/utils/railSettlement.ts
Due: biome check --write

chore(explorer): use published Squid funding package
  apps/explorer/package.json
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-execution.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-execution.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-quote.test.ts
  apps/explorer/src/components/UserConsole/FundsSection/data/squid-quote.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

fix(explorer): provide default Squid integrator ID
  apps/explorer/.env.example
  apps/explorer/README.md
  apps/explorer/src/components/UserConsole/FundsSection/components/SquidQuoteReview.tsx
Due: biome check --write

fix(explorer): wait for wallet network hydration
  apps/explorer/src/app/console/page.test.tsx
  apps/explorer/src/app/console/page.tsx
Due: biome check --write

refactor(explorer): use Wagmi connection hook
  apps/explorer/src/components/UserConsole/FundsSection/components/GuidedTopUpDialog.tsx
Due: biome check --write

Path conditions:
  biome check --write: any of: **/*.{ts,tsx,js,jsx,mts,cts,mjs,cjs}
  biome format --write: any of: **/*.{json,jsonc,css,html}
