Repository FilOzone/filecoin-pay-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx,mts,cts,mjs,cjs}": ["biome check --write"],
  "**/*.{json,jsonc,css,html}": ["biome format --write"]
}

feat: add USDFC token metrics to stats dashboard
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/constants/chains.ts
  apps/explorer/src/hooks/useTokenDetails.ts
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

feat(subgraph): track total rail settlements
  packages/subgraph/schemas/schema.v1.graphql
  packages/subgraph/src/utils/metrics/collectors.ts
Due: biome check --write

fix(subgraph): initialize non null values
  packages/subgraph/src/utils/helpers.ts
  packages/subgraph/src/utils/metrics/core.ts
Due: biome check --write

feat(explorer): add rail settlements count in home stats
  apps/explorer/src/components/Home/Stats.tsx
  packages/types/src/generated/graphql.ts
Due: biome check --write

fix(subgraph): remove unused PaymentsContract import
  apps/explorer/src/services/grapql/queries.ts
  packages/subgraph/src/payments.ts
Due: biome check --write

feat(explorer): add phosphor static icons
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/components/shared/MetricItem.tsx
Due: biome check --write

docs: improve setup instructions
  README.md
  apps/explorer/README.md
  apps/metrics/.env.example
  apps/metrics/README.md
Due: none

fix(explorer): update to patched next.js version
  apps/explorer/package.json
  pnpm-lock.yaml
Due: biome format --write

refactor(explorer): improve usdfc data handling
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/components/shared/MetricItem.tsx
Due: biome check --write

feat: rename "Total Fil Burned" to "Network Revenue" across UI
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/components/Rail/RailSettlements.tsx
  apps/metrics/src/components/HeroStats.tsx
  apps/metrics/src/components/TrendChart.tsx
Due: biome check --write

feat(explorer): add USDFC token and rail settlements metrics to stats dashboard (#48)
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/components/shared/MetricItem.tsx
  apps/explorer/src/constants/chains.ts
  apps/explorer/src/hooks/useTokenDetails.ts
  apps/explorer/src/services/grapql/queries.ts
  packages/subgraph/schemas/schema.v1.graphql
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/helpers.ts
  packages/subgraph/src/utils/metrics/collectors.ts
  packages/subgraph/src/utils/metrics/core.ts
  packages/types/src/generated/graphql.ts
Due: biome check --write

Update apps/explorer/src/components/Rail/RailSettlements.tsx
  apps/explorer/src/components/Rail/RailSettlements.tsx
Due: biome check --write

fix(subgraph): collect weekly metrics on deposit
  packages/subgraph/src/utils/metrics/collectors.ts
  packages/subgraph/src/utils/metrics/constants.ts
  packages/subgraph/src/utils/metrics/index.ts
Due: biome check --write

refactor(subgraph): remove debug log
  packages/subgraph/src/payments.ts
Due: biome check --write

feat(subgraph): add blockNumber and createdAt fields to Settlement entity
  packages/subgraph/schemas/schema.v1.graphql
  packages/subgraph/src/payments.ts
Due: biome check --write

tests(subgraph): add comprehensive tests for payments subgraph
  packages/subgraph/tests/common.ts
  packages/subgraph/tests/mocks.ts
  packages/subgraph/tests/payments/events.ts
  packages/subgraph/tests/payments/fixtures.ts
  packages/subgraph/tests/payments/payments.test.ts
Due: biome check --write

refactor(subgraph): add more biome scripts
  packages/subgraph/package.json
Due: biome format --write

fix(subgraph): minor subgraph bugs
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/keys.ts
Due: biome check --write

feat(explorer): add plausible analytics integration
  apps/explorer/src/components/shared/SiteLayout.tsx
Due: biome check --write

feat: rename "Total Fil Burned" to "Network Revenue" (#67)
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/components/Rail/RailSettlements.tsx
  apps/metrics/src/components/HeroStats.tsx
  apps/metrics/src/components/TrendChart.tsx
Due: biome check --write

feat(explorer): add plausible analytics integration (#73)
  apps/explorer/src/components/shared/SiteLayout.tsx
Due: biome check --write

refactor(subgraph): remove unused Address import
  packages/subgraph/tests/payments/payments.test.ts
Due: biome check --write

chore(subgraph): revert biome scripts
  packages/subgraph/package.json
Due: biome format --write

chore(subgraph): remove unused exports
  packages/subgraph/tests/payments/payments.test.ts
Due: biome check --write

fix(subgraph): check for reverted before
  packages/subgraph/src/utils/helpers.ts
Due: biome check --write

refactor(subgraph): extract fee calculation helpers to fixtures
  packages/subgraph/tests/payments/fixtures.ts
  packages/subgraph/tests/payments/payments.test.ts
Due: biome check --write

fix(subgraph): check for reverted before (#74)
  packages/subgraph/src/utils/helpers.ts
Due: biome check --write

fix(subgraph): use 'to' as account address
  packages/subgraph/src/payments.ts
Due: biome check --write

fix: more detailed setup instructions
  README.md
Due: none

fix: more detailed setup instructions (#75)
  README.md
Due: none

feat(explorer): add network routing
  apps/explorer/.env.example
  apps/explorer/src/app/[network]/NetworkSyncWrapper.tsx
  apps/explorer/src/app/[network]/accounts/page.tsx
  apps/explorer/src/app/[network]/layout.tsx
  apps/explorer/src/app/[network]/operators/page.tsx
  apps/explorer/src/app/[network]/page.tsx
  apps/explorer/src/app/[network]/rails/page.tsx
  apps/explorer/src/app/page.tsx
  apps/explorer/src/components/shared/Navigation/DesktopNavigation.tsx
  apps/explorer/src/components/shared/Navigation/Navigation.tsx
  apps/explorer/src/components/shared/Navigation/components/HomeLogoIconLink.tsx
  apps/explorer/src/components/shared/Navigation/components/NetworkOptions.tsx
  apps/explorer/src/components/shared/Providers.tsx
  apps/explorer/src/constants/chains.ts
  apps/explorer/src/context/Network.tsx
  apps/explorer/src/context/types.ts
  apps/explorer/src/hooks/useNavigationItems.ts
  apps/explorer/src/hooks/useNetwork.ts
  apps/explorer/src/hooks/useSynapse.ts
  apps/explorer/src/middleware.ts
  apps/explorer/src/services/wagmi/config.tsx
  apps/explorer/src/types/index.ts
Due: biome check --write

docs: add link to `how to deploy your own subgraph`
  README.md
Due: none

fix: weekly unique query discrepancy (#71)
  packages/subgraph/schemas/schema.v1.graphql
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/metrics/collectors.ts
  packages/subgraph/src/utils/metrics/constants.ts
  packages/subgraph/src/utils/metrics/index.ts
Due: biome check --write

feat(explorer): query from dynamic subgraphUrl
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/hooks/useAccountDetails.ts
  apps/explorer/src/hooks/useAccountsLeaderboard.ts
  apps/explorer/src/hooks/useGraphQLQuery.ts
  apps/explorer/src/hooks/useInfiniteAccounts.ts
  apps/explorer/src/hooks/useInfiniteOperators.ts
  apps/explorer/src/hooks/useInfiniteRails.ts
  apps/explorer/src/hooks/useOperatorDetails.ts
  apps/explorer/src/hooks/useOperatorsLeaderboard.ts
  apps/explorer/src/hooks/usePayMetrics.ts
  apps/explorer/src/hooks/useRailDetails.ts
  apps/explorer/src/hooks/useRecentAccounts.ts
  apps/explorer/src/hooks/useRecentOperators.ts
  apps/explorer/src/hooks/useRecentRails.ts
  apps/explorer/src/hooks/useTokenDetails.ts
  apps/explorer/src/utils/constants.ts
Due: biome check --write

feat(explorer): sync console data with wallet network
  apps/explorer/src/components/UserConsole/FundsSection/index.tsx
  apps/explorer/src/components/UserConsole/OperatorApprovalsSection/index.tsx
  apps/explorer/src/components/UserConsole/RailsSection/index.tsx
  apps/explorer/src/components/shared/CustomConnectButton/components/NetworkOptions.tsx
  apps/explorer/src/components/shared/CustomConnectButton/index.tsx
  apps/explorer/src/context/Network.tsx
  apps/explorer/src/context/types.ts
  apps/explorer/src/utils/network.ts
Due: biome check --write

feat(explorer): update mainnet contract addresses
  apps/explorer/src/constants/chains.ts
Due: biome check --write

feat(explorer): early unsupported network detection in console
  apps/explorer/src/app/console/page.tsx
  apps/explorer/src/components/UserConsole/States/UnsupportedChain.tsx
  apps/explorer/src/components/UserConsole/States/index.ts
Due: biome check --write

refactor(explorer): remove unused code
  apps/explorer/src/components/shared/Navigation/constants/navigation.ts
  apps/explorer/src/services/grapql/client.ts
Due: biome check --write

refactor(explorer): simplify subgraph URL configuration
  apps/explorer/.env.example
  apps/explorer/src/utils/network.ts
Due: biome check --write

docs(explorer): update docs
  README.md
  apps/explorer/README.md
Due: none
