Repository FilOzone/filecoin-pay-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx,mts,cts,mjs,cjs}": ["biome check --write"],
  "**/*.{json,jsonc,css,html}": ["biome format --write"]
}

Replace the @filecoin-pay/ui components with @filecoin-foundation/ui-filecoin - Card component (#111)
  apps/explorer/src/components/Accounts/components/AccountsEmptyStates.tsx
  apps/explorer/src/components/Accounts/components/AccountsErrorState.tsx
  apps/explorer/src/components/Home/RecentRails/index.tsx
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/components/Home/TopAccounts/index.tsx
  apps/explorer/src/components/Home/TopOperators/index.tsx
  apps/explorer/src/components/Operators/components/OperatorsEmptyStates.tsx
  apps/explorer/src/components/Operators/components/OperatorsErrorState.tsx
  apps/explorer/src/components/Rails/components/RailsEmptyStates.tsx
  apps/explorer/src/components/Rails/components/RailsErrorState.tsx
  apps/explorer/src/components/UserConsole/RailsSection/components/RailsEmptyStates.tsx
Due: biome check --write

Refactor CustomConnectButton and related components for improved layout and styling
  apps/explorer/src/components/shared/CustomConnectButton/components/Balance.tsx
  apps/explorer/src/components/shared/CustomConnectButton/components/NetworkOptions.tsx
  apps/explorer/src/components/shared/CustomConnectButton/index.tsx
  apps/explorer/src/components/shared/Navigation/DesktopNavigation.tsx
  apps/explorer/src/components/shared/Navigation/components/NetworkOptions.tsx
Due: biome check --write

Refactor USDFCLogo and CustomConnectButton for improved styling and layout
  apps/explorer/src/assests/USDFCLogo.tsx
  apps/explorer/src/components/shared/CustomConnectButton/components/Balance.tsx
  apps/explorer/src/components/shared/CustomConnectButton/index.tsx
Due: biome check --write

Increase spacing
  apps/explorer/src/components/shared/CustomConnectButton/components/Balance.tsx
Due: biome check --write

Replace the @filecoin-pay/ui components with @filecoin-foundation/ui-filecoin - Listbox component (#123)
  apps/explorer/src/assests/USDFCLogo.tsx
  apps/explorer/src/components/shared/CustomConnectButton/components/Balance.tsx
  apps/explorer/src/components/shared/CustomConnectButton/components/NetworkOptions.tsx
  apps/explorer/src/components/shared/CustomConnectButton/index.tsx
  apps/explorer/src/components/shared/Navigation/DesktopNavigation.tsx
  apps/explorer/src/components/shared/Navigation/components/NetworkOptions.tsx
Due: biome check --write

Create wallet-map.md for wallet address mappings
  wallet-map.md
Due: none

Create wallet-map.md for wallet address mappings (#125)
  wallet-map.md
Due: none

fix: show one-time rail payment amounts and label
  apps/explorer/src/components/Home/RecentRails/data/column-definitions.tsx
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/shared/RailStateBadge.tsx
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

fixup! fix: show one-time rail payment amounts and label
  apps/explorer/src/components/Home/RecentRails/data/column-definitions.tsx
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/shared/RailStateBadge.tsx
Due: biome check --write

fixup! fix: show one-time rail payment amounts and label
  apps/explorer/src/components/shared/RailStateBadge.tsx
Due: biome check --write

add mainnet config
  packages/subgraph/config/calibration.json
  packages/subgraph/config/mainnet.json
  packages/subgraph/package.json
Due: biome format --write

fix docs
  packages/subgraph/README.md
Due: none

fix default `DailyTokenMetric.accumulatedFees` to zero
  packages/subgraph/src/utils/metrics/core.ts
Due: biome check --write

fix add another default null
  packages/subgraph/src/utils/metrics/core.ts
Due: biome check --write

fix: filBurned only counts FIL
  packages/subgraph/src/utils/helpers.ts
  packages/subgraph/src/utils/metrics/collectors.ts
Due: biome check --write

refactor(subgraph): anchor fee-auction purchases on ERC-20 Transfer
  packages/subgraph/config/Payments-abi.json
  packages/subgraph/config/calibration.json
  packages/subgraph/config/mainnet.json
  packages/subgraph/src/payments.ts
  packages/subgraph/templates/subgraph.template.yaml
Due: biome check --write, biome format --write

refactor
  packages/subgraph/src/utils/helpers.ts
Due: biome check --write

proposal
  apps/explorer/src/components/Home/RecentRails/data/column-definitions.tsx
  apps/explorer/src/components/shared/RailStateBadge.tsx
Due: biome check --write

fix circular dependency
  packages/subgraph/src/utils/helpers.ts
Due: biome check --write

perf
  packages/subgraph/src/utils/metrics/collectors.ts
Due: biome check --write

fix: filBurned only counts FIL (#127)
  packages/subgraph/src/utils/helpers.ts
  packages/subgraph/src/utils/metrics/collectors.ts
Due: biome check --write

fix, clean up
  apps/explorer/src/components/Home/RecentRails/data/column-definitions.tsx
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/shared/RailStateBadge.tsx
Due: biome check --write

add axlUSDC
  packages/subgraph/config/mainnet.json
  packages/subgraph/package.json
  packages/subgraph/templates/subgraph.template.yaml.mustache
Due: biome format --write

feat: add link to filfox. closes #4
  apps/explorer/src/components/Account/AccountApprovals.tsx
  apps/explorer/src/components/Account/AccountRails.tsx
  apps/explorer/src/components/Accounts/data/column-definitions.tsx
  apps/explorer/src/components/Home/RecentRails/data/column-definitions.tsx
  apps/explorer/src/components/Home/TopAccounts/data/column-definitions.tsx
  apps/explorer/src/components/Home/TopOperators/data/column-definitions.tsx
  apps/explorer/src/components/Operator/OperatorApprovals.tsx
  apps/explorer/src/components/Operator/OperatorRails.tsx
  apps/explorer/src/components/Operators/data/column-definitions.tsx
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/UserConsole/OperatorApprovalsSection/data/columnDefinitions.tsx
  apps/explorer/src/components/UserConsole/RailsSection/data/columnDefinitions.tsx
  apps/explorer/src/components/shared/CopyableText.tsx
Due: biome check --write

rename subgraph template
  packages/subgraph/package.json
  packages/subgraph/templates/subgraph.yaml.template
Due: biome format --write

can use yaml syntax highlighting again
  packages/subgraph/package.json
  packages/subgraph/templates/subgraph.template.yaml
Due: biome format --write

try factory pattern
  apps/explorer/src/components/Operators/components/OperatorsTable.tsx
  apps/explorer/src/components/Operators/data/column-definitions.tsx
Due: biome check --write

Revert "try factory pattern"
  apps/explorer/src/components/Operators/components/OperatorsTable.tsx
  apps/explorer/src/components/Operators/data/column-definitions.tsx
Due: biome check --write

refactor using shared component
  apps/explorer/src/components/Home/TopOperators/data/column-definitions.tsx
  apps/explorer/src/components/Operators/data/column-definitions.tsx
  apps/explorer/src/components/shared/ExplorerLink.tsx
  apps/explorer/src/components/shared/index.ts
Due: biome check --write

add rails details (wip)
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/shared/NetworkLink.tsx
Due: biome check --write

CopyableText: fix `rel` on external links
  apps/explorer/src/components/shared/CopyableText.tsx
Due: biome check --write

feat: Add link to filfox. Closes #4 (#131)
  apps/explorer/src/components/Account/AccountApprovals.tsx
  apps/explorer/src/components/Account/AccountRails.tsx
  apps/explorer/src/components/Accounts/data/column-definitions.tsx
  apps/explorer/src/components/Home/RecentRails/data/column-definitions.tsx
  apps/explorer/src/components/Home/TopAccounts/data/column-definitions.tsx
  apps/explorer/src/components/Home/TopOperators/data/column-definitions.tsx
  apps/explorer/src/components/Operator/OperatorApprovals.tsx
  apps/explorer/src/components/Operator/OperatorRails.tsx
  apps/explorer/src/components/Operators/data/column-definitions.tsx
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/UserConsole/OperatorApprovalsSection/data/columnDefinitions.tsx
  apps/explorer/src/components/UserConsole/RailsSection/data/columnDefinitions.tsx
  apps/explorer/src/components/shared/CopyableText.tsx
  apps/explorer/src/components/shared/ExplorerLink.tsx
  apps/explorer/src/components/shared/index.ts
Due: biome check --write

wip
  apps/explorer/src/app/[network]/rails/[id]/page.tsx
  apps/explorer/src/components/Rail/RailOverview.tsx
  apps/explorer/src/components/Rail/RailRateChanges.tsx
  apps/explorer/src/components/Rail/RailSettlements.tsx
  apps/explorer/src/components/Rail/RailStates.tsx
  apps/explorer/src/components/Rail/Stats.tsx
  apps/explorer/src/components/Rail/index.ts
  apps/explorer/src/components/Rail/index.tsx
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/shared/NetworkLink.tsx
  apps/explorer/src/components/shared/index.ts
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

stats
  apps/explorer/src/components/Rail/DetailCard.tsx
  apps/explorer/src/components/Rail/Stats.tsx
Due: biome check --write

icons
  apps/explorer/src/components/Rail/Stats.tsx
Due: biome check --write

todo
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

id
  apps/explorer/src/components/Rail/Stats.tsx
Due: biome check --write

fix syntax
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

moar
  apps/explorer/src/components/Rail/Stats.tsx
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

rate changes
  apps/explorer/src/components/Rail/RailRateChanges.tsx
Due: biome check --write
