Repository FilOzone/filecoin-pay-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx,mts,cts,mjs,cjs}": ["biome check --write"],
  "**/*.{json,jsonc,css,html}": ["biome format --write"]
}

chore: address review comments
  .github/ISSUE_TEMPLATE/release.md
  packages/subgraph/package.json
  release-please-config.json
Due: biome format --write

ci: automate subgraph releases with release please (#278)
  .github/ISSUE_TEMPLATE/release.md
  .github/scripts/create-release-issue.js
  .github/workflows/deploy.yml
  .github/workflows/pr-title.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  README.md
  packages/subgraph/README.md
  packages/subgraph/package.json
  release-please-config.json
Due: biome check --write, biome format --write

feat: implement notification api worker (#274)
  apps/notification-service/AGENTS.md
  apps/notification-service/api/auth.ts
  apps/notification-service/api/email-validation.ts
  apps/notification-service/api/index.ts
  apps/notification-service/api/kv.ts
  apps/notification-service/api/queries.ts
  apps/notification-service/api/tsconfig.json
  apps/notification-service/api/wrangler.jsonc
  apps/notification-service/package.json
  apps/notification-service/shared/.gitkeep
  apps/notification-service/shared/db/client.ts
  apps/notification-service/shared/emails/config.ts
  apps/notification-service/tests/api/auth.test.ts
  apps/notification-service/tests/api/email-validation.test.ts
  apps/notification-service/tests/api/kv.test.ts
  apps/notification-service/tests/api/queries.test.ts
  apps/notification-service/tests/api/routes.test.ts
  apps/notification-service/vitest.config.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

feat: implement alert-scheduler worker (#279)
  apps/notification-service/alert-scheduler/index.ts
  apps/notification-service/alert-scheduler/queries.ts
  apps/notification-service/alert-scheduler/tsconfig.json
  apps/notification-service/shared/messages.ts
  apps/notification-service/tests/alert-scheduler/helpers.ts
  apps/notification-service/tests/alert-scheduler/index.test.ts
  apps/notification-service/tests/alert-scheduler/queries.test.ts
  apps/notification-service/vitest.config.ts
Due: biome check --write, biome format --write

feat: add api and alert-scheduler workers to the notification service
  apps/notification-service/AGENTS.md
  apps/notification-service/alert-scheduler/index.ts
  apps/notification-service/alert-scheduler/queries.ts
  apps/notification-service/alert-scheduler/tsconfig.json
  apps/notification-service/api/auth.ts
  apps/notification-service/api/email-validation.ts
  apps/notification-service/api/index.ts
  apps/notification-service/api/kv.ts
  apps/notification-service/api/queries.ts
  apps/notification-service/api/tsconfig.json
  apps/notification-service/api/wrangler.jsonc
  apps/notification-service/migrations/.gitkeep
  apps/notification-service/package.json
  apps/notification-service/shared/.gitkeep
  apps/notification-service/shared/db/client.ts
  apps/notification-service/shared/emails/config.ts
  apps/notification-service/shared/messages.ts
  apps/notification-service/tests/alert-scheduler/helpers.ts
  apps/notification-service/tests/alert-scheduler/index.test.ts
  apps/notification-service/tests/alert-scheduler/queries.test.ts
  apps/notification-service/tests/api/auth.test.ts
  apps/notification-service/tests/api/email-validation.test.ts
  apps/notification-service/tests/api/kv.test.ts
  apps/notification-service/tests/api/queries.test.ts
  apps/notification-service/tests/api/routes.test.ts
  apps/notification-service/tests/apply-migrations.ts
  apps/notification-service/tests/env.d.ts
  apps/notification-service/tests/tsconfig.json
  apps/notification-service/vitest.config.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

feat(notification-service): add account-health tier derivation
  apps/notification-service/alert-processor/account-health.ts
  apps/notification-service/tests/alert-processor/account-health.test.ts
  apps/notification-service/vitest.config.ts
Due: biome check --write

feat(notification-service): add on-chain account read to the health utility
  apps/notification-service/alert-processor/account.ts
  apps/notification-service/package.json
  apps/notification-service/tests/alert-processor/account-health.test.ts
  apps/notification-service/tests/alert-processor/account.test.ts
  apps/notification-service/vitest.config.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

fix: imports and account health calculation
  apps/notification-service/alert-processor/account.ts
Due: biome check --write

feat: add account-health tier derivation to notification-service (#281)
  apps/notification-service/alert-processor/account.ts
  apps/notification-service/package.json
  apps/notification-service/tests/alert-processor/account.test.ts
  apps/notification-service/vitest.config.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

feat(notification-service): add account-health tier derivation
  apps/notification-service/alert-processor/account-health.ts
  apps/notification-service/tests/alert-processor/account-health.test.ts
Due: biome check --write

feat(notification-service): add on-chain account read to the health utility
  apps/notification-service/alert-processor/account-health.ts
  apps/notification-service/tests/alert-processor/account-health.test.ts
Due: biome check --write

feat(notification-service): add a buffer to the recommended top-up
  apps/notification-service/alert-processor/alert-content.ts
  apps/notification-service/tests/alert-processor/alert-content.test.ts
Due: biome check --write

feat(notification-service): add alert-processor message pipeline
  apps/notification-service/alert-processor/alert-content.ts
  apps/notification-service/alert-processor/process-message.ts
  apps/notification-service/alert-processor/queries.ts
  apps/notification-service/tests/alert-processor/alert-content.test.ts
  apps/notification-service/tests/alert-processor/process-message.integration.test.ts
Due: biome check --write

feat(notification-service): add KV alert dedup state machine
  apps/notification-service/alert-processor/dedup.ts
  apps/notification-service/tests/alert-processor/dedup.test.ts
Due: biome check --write

chore(notification-service): configure alert-processor bindings, secrets, and test project
  apps/notification-service/alert-processor/wrangler.jsonc
  apps/notification-service/vitest.config.ts
Due: biome check --write, biome format --write

feat(notification-service): wire queue handler to the message pipeline
  apps/notification-service/alert-processor/index.ts
Due: biome check --write

fix(notification-service): day-count accuracy
  apps/notification-service/alert-processor/alert-content.ts
  apps/notification-service/tests/alert-processor/alert-content.test.ts
Due: biome check --write

refactor(notification-service): tighten alert-processor architecture
  apps/notification-service/alert-processor/account.ts
  apps/notification-service/alert-processor/index.ts
  apps/notification-service/alert-processor/process-message.ts
  apps/notification-service/api/index.ts
  apps/notification-service/shared/alert-levels.ts
  apps/notification-service/shared/db/schema.ts
  apps/notification-service/shared/emails/templates/AlertEmail.tsx
  apps/notification-service/shared/emails/templates/VerificationEmail.tsx
  apps/notification-service/shared/messages.ts
  apps/notification-service/tests/alert-processor/process-message.integration.test.ts
Due: biome check --write

fix(notification-service): stop processMessage from throwing out of the batch
  apps/notification-service/alert-processor/process-message.ts
  apps/notification-service/tests/alert-processor/process-message.integration.test.ts
Due: biome check --write

fix(notification-service): deriveAccountHealth could return emergency status if runwayInEpochs and lockupRatePerEpoch were 0
  apps/notification-service/alert-processor/account.ts
Due: biome check --write

feat(notification-service): add evlog observability to alert-scheduler and alert-processor
  apps/notification-service/alert-processor/account.ts
  apps/notification-service/alert-processor/index.ts
  apps/notification-service/alert-processor/process-message.ts
  apps/notification-service/alert-scheduler/index.ts
  apps/notification-service/api/index.ts
  apps/notification-service/tests/alert-processor/process-message.integration.test.ts
  apps/notification-service/tests/alert-scheduler/index.test.ts
Due: biome check --write

chore: set CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: set CODEOWNERS (#291)
  .github/CODEOWNERS
Due: none

feat: implement alert processor worker (#283)
  apps/notification-service/alert-processor/account.ts
  apps/notification-service/alert-processor/alert-content.ts
  apps/notification-service/alert-processor/dedup.ts
  apps/notification-service/alert-processor/index.ts
  apps/notification-service/alert-processor/process-message.ts
  apps/notification-service/alert-processor/queries.ts
  apps/notification-service/alert-processor/wrangler.jsonc
  apps/notification-service/api/index.ts
  apps/notification-service/shared/alert-levels.ts
  apps/notification-service/shared/db/schema.ts
  apps/notification-service/shared/emails/templates/AlertEmail.tsx
  apps/notification-service/shared/emails/templates/VerificationEmail.tsx
  apps/notification-service/shared/messages.ts
  apps/notification-service/tests/alert-processor/alert-content.test.ts
  apps/notification-service/tests/alert-processor/dedup.test.ts
  apps/notification-service/tests/alert-processor/process-message.integration.test.ts
  apps/notification-service/vitest.config.ts
Due: biome check --write, biome format --write

fix: align console page layout with other pages on mobile
  apps/explorer/src/app/console/page.tsx
Due: biome check --write

feat(explorer): add session keys console page
  apps/explorer/scripts/poc-session-keys/chain-cycle.mjs
  apps/explorer/scripts/poc-session-keys/signer-bridge.mjs
  apps/explorer/src/app/console/page.tsx
  apps/explorer/src/app/console/session-keys/page.tsx
  apps/explorer/src/components/UserConsole/ConsoleSidebar.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/CreateKeyFlow.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/RevokeDialog.tsx
  apps/explorer/src/components/UserConsole/SessionKeysSection/download.ts
  apps/explorer/src/components/UserConsole/SessionKeysSection/index.tsx
  apps/explorer/src/hooks/useSessionKeys.ts
  apps/explorer/src/types/index.ts
  apps/explorer/src/utils/sessionKeys.test.ts
  apps/explorer/src/utils/sessionKeys.ts
  apps/explorer/src/utils/toast.ts
  apps/explorer/tsconfig.json
Due: biome check --write, biome format --write

feat: console wallet controls and chain switcher
  apps/explorer/src/app/console/page.tsx
  apps/explorer/src/components/shared/Balance.tsx
  apps/explorer/src/components/shared/ChainSwitcher.tsx
  apps/explorer/src/components/shared/CustomConnectButton/components/NetworkOptions.tsx
  apps/explorer/src/components/shared/CustomConnectButton/components/index.ts
  apps/explorer/src/components/shared/CustomConnectButton/index.tsx
  apps/explorer/src/components/shared/Navigation/DesktopNavigation.tsx
  apps/explorer/src/components/shared/Navigation/Navigation.tsx
  apps/explorer/src/components/shared/index.ts
  apps/explorer/src/hooks/useShowNetworkOptions.ts
Due: biome check --write

chore: add evlog to the notification service workers (#289)
  apps/notification-service/alert-processor/index.ts
  apps/notification-service/alert-processor/process-message.ts
  apps/notification-service/alert-scheduler/index.ts
  apps/notification-service/api/index.ts
  apps/notification-service/tests/alert-processor/process-message.integration.test.ts
  apps/notification-service/tests/alert-scheduler/index.test.ts
Due: biome check --write

Revert "chore: add evlog to the notification service workers (#289)"
  apps/notification-service/alert-processor/index.ts
  apps/notification-service/alert-processor/process-message.ts
  apps/notification-service/alert-scheduler/index.ts
  apps/notification-service/api/index.ts
  apps/notification-service/tests/alert-processor/process-message.integration.test.ts
  apps/notification-service/tests/alert-scheduler/index.test.ts
Due: biome check --write

feat(notification-service): add a buffer to the recommended top-up
  apps/notification-service/alert-processor/alert-content.ts
Due: biome check --write

fix: revert `alert-content.ts` to match main branch
  apps/notification-service/alert-processor/alert-content.ts
Due: biome check --write
