Repository FilOzone/filecoin-pay-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

Update apps/explorer/src/components/Rail/RailRateChanges.tsx
  apps/explorer/src/components/Rail/RailRateChanges.tsx
Due: biome check --write

feat: display human-readable names for known wallets. closes #90
  apps/explorer/src/components/shared/CopyableText.tsx
  apps/explorer/src/constants/known-wallets.ts
  wallet-map.md
Due: biome check --write

fix: subgraph rail state counting (#149)
  packages/subgraph/src/payments.ts
  packages/subgraph/src/utils/metrics/collectors.ts
Due: biome check --write

wip
  apps/explorer/src/components/Home/TopAccounts/index.tsx
Due: biome check --write

fix(subgraph): missing network config
  packages/subgraph/config/calibration.json
  packages/subgraph/config/mainnet.json
  packages/subgraph/package-lock.json
Due: biome format --write

fix default
  packages/subgraph/package.json
Due: biome format --write

feat(subgraph): continuous deployment
  .github/workflows/deploy.yml
  packages/subgraph/README.md
Due: none

clean up
  .github/workflows/deploy.yml
Due: none

wip: use data source template for tokens
  packages/subgraph/README.md
  packages/subgraph/src/payments.ts
  packages/subgraph/templates/subgraph.template.yaml
Due: biome check --write

dynamically load new tokens
  packages/subgraph/src/payments.ts
Due: biome check --write

add context
  packages/subgraph/config/calibration.json
  packages/subgraph/config/mainnet.json
  packages/subgraph/src/payments.ts
Due: biome check --write, biome format --write

Update .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Due: none

docs
  packages/subgraph/README.md
Due: none

clean up
  packages/subgraph/pnpm-lock.yaml
Due: none

named export
  apps/explorer/src/components/shared/CopyableText.tsx
  apps/explorer/src/constants/known-wallets.ts
Due: biome check --write

refactor
  apps/explorer/src/components/shared/CopyableText.tsx
Due: biome check --write

docs
  apps/explorer/src/constants/known-wallets.ts
Due: biome check --write

Apply suggestion from @juliangruber
  .github/workflows/deploy.yml
Due: none

fix mainnet starting block
  packages/subgraph/config/mainnet.json
Due: biome format --write

clean up
  packages/subgraph/package-lock.json
Due: biome format --write

feat: Display human-readable names for known wallets. Closes #90 (#150)
  apps/explorer/src/components/shared/CopyableText.tsx
  apps/explorer/src/constants/known-wallets.ts
  wallet-map.md
Due: biome check --write

fix(subgraph): missing network config (#152)
  packages/subgraph/config/calibration.json
  packages/subgraph/config/mainnet.json
  packages/subgraph/package.json
  packages/subgraph/pnpm-lock.yaml
Due: biome format --write

feat(subgraph): continuous deployment (#153)
  .github/workflows/deploy.yml
  packages/subgraph/README.md
Due: none

use tanstack table for one time payments
  apps/explorer/src/components/Rail/components/RailOneTimePayments.tsx
  apps/explorer/src/components/Rail/components/RailOneTimePaymentsTable.tsx
  apps/explorer/src/components/Rail/components/RailRateChanges.tsx
  apps/explorer/src/components/Rail/components/RailSettlements.tsx
  apps/explorer/src/components/Rail/components/Stats.tsx
  apps/explorer/src/components/Rail/data/column-definitions-rail-one-time-payments.tsx
  apps/explorer/src/components/Rail/index.tsx
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

one time payment network fee is in rail token
  apps/explorer/src/components/Rail/data/column-definitions-rail-one-time-payments.tsx
Due: biome check --write

settlement network fee is in rail token
  apps/explorer/src/components/Rail/components/RailSettlements.tsx
Due: biome check --write

clean up
  apps/explorer/src/services/grapql/queries.ts
Due: biome check --write

fix(subgraph): pass goldsky deploy token
  .github/workflows/deploy.yml
Due: none

fix(subgraph): pass goldsky deploy token (#154)
  .github/workflows/deploy.yml
Due: none

add link to /rails
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/components/shared/MetricItem.tsx
Due: biome check --write

clean up
  apps/explorer/src/components/Home/Stats.tsx
Due: biome check --write

fix type, add default
  apps/explorer/src/components/Home/Stats.tsx
  apps/explorer/src/hooks/useStatsDashboard.ts
Due: biome check --write

document architecture
  README.md
Due: none

add monitoring
  README.md
Due: none

rails: add filter by total settlements
  apps/explorer/src/components/Rails/components/RailsSearchBar.tsx
  apps/explorer/src/components/Rails/data/column-definitions.tsx
  apps/explorer/src/components/Rails/index.tsx
  apps/explorer/src/hooks/useInfiniteRails.ts
Due: biome check --write

docs: subgraph tags
  packages/subgraph/README.md
Due: none

Path conditions:
  biome check --write: any of: **/*.{ts,tsx,js,jsx,mts,cts,mjs,cjs}
  biome format --write: any of: **/*.{json,jsonc,css,html}
